---
layout: 'layouts/landing.njk'
title: '3PCD Readiness'
description: 'A series of proposals to satisfy cross-site use cases without third-party cookies or other tracking mechanisms.'
sections:
  prepare_for_3pcd:
    - url: /docs/3pcd-readiness/learn-about-cookies
      title: Educate yourself about Cookies
      description: 
    - url: /docs/3pcd-readiness/review-scenarios
      title: Review your current use of Cookies
      description: 
    - url: /docs/3pcd-readiness/leverage-tools
      title: Leverage Chrome and DevTools and the Privacy Sandbox Analysis Chrome Extension
      description: 
    - url: /docs/3pcd-readiness/call-to-action
      title: Let's make it happen!
  cookies:
    - url: /docs/3pcd-readiness/what-are-cookies
      title: What are Cookies?
      description: What are cookies, why were they invented, and what role do they play in the web ecosystem?
    - url: /docs/3pcd-readiness/how-cookies-work
      title: How Cookies Work?
      description: How are cookies, set, retrieved, modified and shared.
    - url: /docs/3pcd-readiness/cookie-vulnerabilities
      title: Cookie Vulnerabilities
      description: What are the privacy and security issues with cookies.
    - url: /docs/3pcd-readiness/3pcd-changes
      title: What exactly is changing with Privacy Sandbox
      description: What will happen with application scenarios using 3P cookies today.
  3pc_alternatives:
    - url: /docs/3pcd-readiness/building-blocks
    - url: /docs/3pcd-readiness/web-storage
    - url: /docs/3pcd-readiness/first-party-sets
    - url: /docs/3pcd-readiness/chips	  
    - url: /docs/3pcd-readiness/storage-access
    - url: /docs/3pcd-readiness/fenced-frames
    - url: /docs/3pcd-readiness/fed-cm
  dev_tools:
    - url: /docs/3pcd-readiness/chrome-facilitated-testing
      title: Learn about Chrome Facilitated Testing
      description: 
    - url: /docs/3pcd-readiness/dev-tools
    - url: /docs/3pcd-readiness/psa-extension
    - url: /docs/3pcd-readiness/companion-folder
---

{% from 'macros/cards/hero-card-wide.njk' import heroCardWide with context %}
{% from 'macros/cards/blog-card.njk' import blogCard with context %}
{% from 'macros/icon.njk' import icon with context %}
{% from 'macros/landing-section.njk' import landingSection with context %}
{% from 'macros/landing-deco.njk' import landingDeco with context %}
{% from 'macros/landing-section-expanded.njk' import landingSectionExpanded with context %}
{% from 'macros/landing-section-usecases.njk' import landingSectionUseCases with context %}

{# landing-page-expanded has unique styles, added for Privacy Sandbox and expanded landing section. #}

{{ heroCardWide(
  "Getting Ready for Third-party Cookies Deprecation",
  "As part of the Privacy Sandbox project, Chrome is phasing out support for unrestricted 
  third-party cookies and proposing new privacy-preserving APIs to continue supporting 
  legitimate use cases. Read through to get ready for the future without cross-site tracking.",
  "",
  "",
  "",
  "",
  "",
  "image/VbsHyyQopiec0718rMq2kTE1hke2/i1wLexi7cwRpdfIkBYAX.svg"
  ) }}

  {{ landingSectionExpanded(
    "Prepare for the deprecation of 3P cookies",
    "Take action to get ready for a more private web without unrestricted 3P cookies.",
    sections.prepare_for_3pcd,
    "green",
    "top-4",
    true,
    "image/VbsHyyQopiec0718rMq2kTE1hke2/cT27jgN3G7aYl9ftM0lt.svg",
    "Analytics icon.",
    250,
    124,
    "image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/kdPhkPXy7R0mmcJaKyoi.svg",
    "",
    ""
    )}}

{{ landingSectionExpanded(
  "Cookies in a Nutshell",
  "",
  sections.cookies,
  "blue",
  "right",
  true,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/QDyL1Otpv6Id7sDTconF.svg",
  "Graduation cap icon.",
  200,
  129,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/QDyL1Otpv6Id7sDTconF.svg",
  "",
  sections.intro_related
  )
}}

{{ landingSectionUseCases(
  "Alternatives to 3P Cookies",
  "Legitimate cookie use cases power web features which greatly improve user experience,
   and continuing to support these use cases is important. ",
  "",
  sections.3pc_alternatives,
  "",
  "",
  "",
  "green",
  "right",
  true,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/yrsJmUfAnqDIDxjVYhXq.svg",
  "Click icon.",
  429,
  278,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/yrsJmUfAnqDIDxjVYhXq.svg"
  )
}}

{{ landingSectionUseCases(
  "Developer Tools",
  "Leverage developer tools to analyze and understand your cookie-related scenarios.",
  "",
  sections.dev_tools,
  "",
  "",
  "",
  "blue",
  "right",
  true,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/pfYmfQtnte4ZKFE7r9nE.svg",
  "People icon.",
  284,
  193,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/pfYmfQtnte4ZKFE7r9nE.svg"
  )
}}



