{% macro blogCard(post) %}
{% set pd = post.data %}
<div class="blog-card rounded-lg pad-300 md:pad-400">
  {% if pd.hero %}
    {#
      The thumbnail image defines its own bottom margin because it's optional
      and needs to push the title down. If the title defined its own top
      margin and the thumbnail was omitted then there would be too much space
      between the title and the top of the card.
    #}
    <div class="blog-card__thumbnail gap-bottom-300">
      {% img src=pd.hero, alt=pd.alt, width="330", height="184", sizes="(min-width: 36em) 330px, calc(100vw - 80px)" %}
    </div>
  {% endif %}
        
  <h2 class="type--h5">
    <a href="{{ post.url }}">
      {{ pd.title }}
    </a>
  </h2>

  <p class="type--caption gap-top-200">
    <a href="{{ post.url }}">
      {{ pd.description }}
    </a>
  </p>

  {% if pd.authors %}
    {% from 'macros/author.njk' import author with context %}
    <div class="gap-top-300">
      {% for item in pd.authors %}
        {{ author(item, locale) }}
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endmacro %}