{% from 'macros/icon.njk' import icon with context %}

{% macro featuredTweetCard() %}
{% set tweet = tweets[0] %}
{% if tweet %}
  <div class="masonry-grid__item featured-card tweet-card hairline rounded-lg pad-300 md:pad-400 width-full">
    <div class="card-title-bar color-blue-medium">
      {{ icon('twitter') }}
      <span class="gap-left-300 flex-1 user-select-none">Twitter</span>
    </div>

    <a href="{{ tweet.tweet_url }}" class="tweet-card__link display-inline-flex type--h5-card gap-top-300">
      {{ helpers.formatDateShort(tweet.created_at, locale) }}
    </a>

    {#
      The .tweet-card__text element uses whitespace: pre-wrap so we can't let
      the html minifier touch it or it will mess up the formatting of the tweet.
    #}
    <!-- htmlmin:ignore -->
    <p class="tweet-card__text gap-top-300">{{ tweet.formatted_text | safe }}</p>
    <!-- htmlmin:ignore -->

    <a href="https://twitter.com/chromiumdev" class="tweet-card__link type--small display-inline-flex gap-top-400">
      {{ 'i18n.common.follow' | i18n(locale) }} @Chromiumdev
    </a>
  </div>
{% endif %}
{% endmacro %}