{% macro heroCard() %}
<div class="hero-card width-full rounded-lg bg-blue-lighter pad-400 masonry:pad-top-400 masonry:pad-right-500 masonry:pad-bottom-1000 masonry:pad-left-500">
  <div class="card-title-bar">
    <div class="card-title-bar__controls color-secondary-text">
      {% include 'icons/keyboard-arrow-left.svg' %}
      {% include 'icons/keyboard-arrow-right.svg' %}
    </div>
  </div>
  <div class="hero-card__inner gap-top-400">
    <div>
      <h1 class="type--h1 color-blue-darkest">
        Build for the open&nbsp;web
      </h1>
      <p class="gap-top-300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, odit
        non iure, commodi ex fugiat, enim ut fuga odio nihil natus atque.
      </p>
      <a href="/docs/" class="button button-round display-inline-flex color-bg bg-blue-medium gap-top-400">
        Start building
      </a>
    </div>
    <div class="justify-self-end gap-top-300 masonry:gap-top-0">
      {% img src="image/foR0vJZKULb5AGJExlazy1xYDgI2/ZwZDf1umv2Ydv9HrzZMM.png", alt="", height="457", width="800" %}
    </div>
  </div>
</div>
{% endmacro %}