announcement-banner {
  display: block;
}

announcement-banner[hidden] {
  display: none;
}

announcement-banner {
  [data-banner-close-btn] {
    opacity: 0;
    pointer-events: none;
  }

  &[active] {
    [data-banner-close-btn] {
      margin: 0 1rem 0 0;
      opacity: 1;
      pointer-events: auto;
    }

    [data-banner-close-btn]:hover {
      border: 0;
    }
  }

  p {
    margin: 0;
  }
}
