:root {
  --aisde-link-color: var(--color-blue-darkest);
  --aisde-link-visited-color: var(--color-blue-darkest);
  --aisde-ink-rgb-background: var(--rgb-blue-darkest);
  --aisde-background-color: var(--color-blue-lightest);
  --aisde-color: var(--color-blue-darkest);

  --aside-update-link-color: var(--color-blue-darkest);
  --aside-update-link-visited-color: var(--color-blue-darkest);
  --aside-update-link-rgb-background: var(--rgb-blue-darkest);
  --aside-update-background-color: var(--color-blue-lightest);
  --aside-update-color: var(--color-blue-darkest);

  --aside-note-link-color: var(--color-blue-darkest);
  --aside-note-link-visited-color: var(--color-blue-darkest);
  --aside-note-link-rgb-background: var(--rgb-blue-darkest);
  --aside-note-background-color: var(--color-blue-lightest);
  --aside-note-color: var(--color-blue-darkest);

  --aside-info-link-color: var(--color-blue-darkest);
  --aside-info-link-visited-color: var(--color-blue-darkest);
  --aside-info-link-rgb-background: var(--rgb-blue-darkest);
  --aside-info-background-color: var(--color-blue-lightest);
  --aside-info-color: var(--color-blue-darkest);

  --aside-caution-link-color: var(--color-yellow-darkest);
  --aside-caution-link-visited-color: var(--color-yellow-darkest);
  --aside-caution-link-rgb-background: var(--rgb-yellow-darkest);
  --aside-caution-background-color: var(--color-yellow-lightest);
  --aside-caution-color: var(--color-yellow-darkest);

  --aside-warning-link-color: var(--color-red-darkest);
  --aside-warning-link-visited-color: var(--color-red-darkest);
  --aside-warning-link-rgb-background: var(--rgb-red-darkest);
  --aside-warning-background-color: var(--color-red-lightest);
  --aside-warning-color: var(--color-red-darkest);

  --aside-success-link-color: var(--color-green-darkest);
  --aside-success-link-visited-color: var(--color-green-darkest);
  --aside-success-link-rgb-background: var(--rgb-green-darkest);
  --aside-success-background-color: var(--color-green-lightest);
  --aside-success-color: var(--color-green-darkest);

  --aside-tip-link-color: var(--color-green-darkest);
  --aside-tip-link-visited-color: var(--color-green-darkest);
  --aside-tip-link-rgb-background: var(--rgb-green-darkest);
  --aside-tip-background-color: var(--color-green-lightest);
  --aside-tip-color: var(--color-green-darkest);

  --aside-celebration-link-color: var(--color-green-darkest);
  --aside-celebration-link-visited-color: var(--color-green-darkest);
  --aside-celebration-link-rgb-background: var(--rgb-green-darkest);
  --aside-celebration-background-color: var(--color-green-lightest);
  --aside-celebration-color: var(--color-green-darkest);

  --aside-objective-link-color: var(--color-green-darkest);
  --aside-objective-link-visited-color: var(--color-green-darkest);
  --aside-objective-link-rgb-background: var(--rgb-green-darkest);
  --aside-objective-background-color: var(--color-green-lightest);
  --aside-objective-color: var(--color-green-darkest);

  --aside-important-link-color: var(--color-purple-darkest);
  --aside-important-link-visited-color: var(--color-purple-darkest);
  --aside-important-link-rgb-background: var(--rgb-purple-darkest);
  --aside-important-background-color: var(--color-purple-lightest);
  --aside-important-color: var(--color-purple-darkest);

  --aside-key-term-link-color: var(--color-pink-darkest);
  --aside-key-term-link-visited-color: var(--color-pink-darkest);
  --aside-key-term-link-rgb-background: var(--rgb-pink-darkest);
  --aside-key-term-background-color: var(--color-pink-lightest);
  --aside-key-term-color: var(--color-pink-darkest);

  --aside-codelab-link-color: var(--color-cyan-darkest);
  --aside-codelab-link-visited-color: var(--color-cyan-darkest);
  --aside-codelab-link-rgb-background: var(--rgb-cyan-darkest);
  --aside-codelab-background-color: var(--color-cyan-lightest);
  --aside-codelab-color: var(--color-cyan-darkest);

  --aside-example-link-color: var(--color-cyan-darkest);
  --aside-example-link-visited-color: var(--color-cyan-darkest);
  --aside-example-link-rgb-background: var(--rgb-cyan-darkest);
  --aside-example-background-color: var(--color-cyan-lightest);
  --aside-example-color: var(--color-cyan-darkest);
}
