.aside {
  background-color: var(--color-blue-lightest);
  border-radius: 6px;
  color: var(--color-blue-dark);
  padding: get-size(400);

  > * + * {
    margin-top: get-size(300);
  }

  a {
    color: inherit;
  }

  &--caution {
    background-color: var(--color-yellow-lightest);
    color: var(--color-yellow-dark);
  }
  
  &--warning {
    background-color: var(--color-red-lightest);
    color: var(--color-red-dark);
  }
  
  &--success {
    background-color: var(--color-green-lightest);
    color: var(--color-green-dark);
  }
  
  &--gotchas {
    background-color: var(--color-purple-lightest);
    color: var(--color-purple-dark);
  }
  
  &--key {
    background-color: var(--color-pink-lightest);
    color: var(--color-pink-dark);
  }
  
  &--codelab {
    background-color: var(--color-cyan-lightest);
    color: var(--color-cyan-dark);
  }
}


// The .aside__label is added by _transforms/asides.js
.aside__label {
  align-items: center;
  display: flex;

  > * + * {
    margin-left: px-to-rem(12px);
  }
}
