.banner {
  @extend %type--small;
  background: var(--color-bg-shade);
  display: flex;
  justify-content: center;
  padding: get-size(200);

  &--info {
    --link-color: var(--color-blue-darkest);
    --link-visited-color: var(--color-blue-darkest);
    --link-rgb-background: transparent;
    background-color: var(--color-blue-lighter);
  }

  &--warning {
    --link-color: var(--color-red-darkest);
    --link-visited-color: var(--color-red-darkest);
    --link-rgb-background: transparent;
    background-color: var(--color-red-lightest);
  }

  &__inner {
    @include apply-utility('measure', 'long');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @include media-query('md') {
      align-items: center;
      flex-direction: row;
    }
  }

  &__text {
    max-width: 65ch;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: get-size(300);

    @include media-query('md') {
      align-items: flex-end;
      margin-left: get-size(300);
      margin-top: 0;
    }
  }

  // FIXME(robdodson): The button-text elements self-define negative margins
  // that throw off flexbox alignment. This is a hack to make them work inside
  // of the banner, but the button-text element itself needs to be fixed to
  // remove this quirk. It's currently only used in the featured cards on the
  // homepage, so maybe something is off with the way those cards were using
  // the buttons that necessitated the negative margin.
  .button-text {
    margin: 0;
  }
}
