.blog-card {
  border: 1px solid transparent;
  max-width: $blog-card-size;
}

.blog-card:hover,
.blog-card:focus-within {
  border: 1px solid var(--color-hairline);
}

.blog-card__thumbnail {
  img {
    height: px-to-rem(184px);
  }
}
