/* purgecss start ignore */
%button,
.button {
  background: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}
/* purgecss end ignore */

.button-text {
  @extend %overlay;
}

$button-padding: get-size(200) get-size(400);
$button-radius: get-size(400);

.button-round {
  @extend %type--small;
  @include apply-utility('font', 'google-sans');
  border-radius: $button-radius;
  padding: $button-padding;
}

.button-collapsible {
  @include media-query('md-max') {
    border-radius: 0;
    padding: 0;
  }
}

.button-surface {
  position: relative;
  transition: box-shadow 0.1s;
  z-index: 1;
}

.button-surface::before { // Color overlay
  background: rgba(var(--rgb-button-overlay), 1);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.1s;
  z-index: -1;
}

.button-surface:hover {
  box-shadow: rgba(var(--rgb-button-overlay), 0.3) 0 1px 2px 0, rgba(var(--rgb-button-overlay), 0.15) 0 1px 3px 1px;
}

.button-surface:active {
  box-shadow: rgba(var(--rgb-button-overlay), 0.3) 0 1px 2px 0, rgba(var(--rgb-button-overlay), 0.15) 0 2px 6px 2px;
}

.button-surface:hover::before {
  opacity: 0.16;
}

.button-surface:focus::before {
  opacity: 0.24;
}

.button-surface:active::before {
  opacity: 0.36;
}
