.card-authors__image > img {
  border: 2px solid var(--color-bg);
  border-radius: 100%;
  // Since we're adding a 2px border all around the image, we need to set it to
  // be content-box, otherwise the image will display at 36px instead of 40px.
  box-sizing: content-box;
  height: 40px;
  max-width: 40px;
  width: 40px;
}

.card-authors__image:not(:first-of-type) {
  margin-left: -#{get-size(200)};
}

// Only give the card meta a left margin if there are author images.
// If there are 3 or more authors then there won't be any images and the
// meta should be flush left.
.card-authors__image + .card-authors__meta {
  margin-left: get-size(300);
}
