/* stylelint-disable selector-max-compound-selectors*/
// Extra selector depth required to match deeply nested OLs in HTML

.cws-policy {
  .type {
    ol:not([class]) {
      margin-bottom: get-size(300);
      margin-top: get-size(300);
    }


    ol {
      --ol-counter-style: upper-roman;
    }

    ol ol {
      --ol-counter-style: upper-alpha;
    }

    ol ol ol {
      --ol-counter-style: decimal;
    }

    ol ol ol ol {
      --ol-counter-style: lower-alpha;
    }
  }
}
