.details {
  position: relative;
}

.details__summary {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &::-webkit-details-marker {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:hover .details__header::after,
  &:focus .details__header::after {
    background-color: var(--color-blue-lighter);
  }
}

.details__header {
  color: var(--color-primary);
  position: relative;

  &::after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3cpath fill='%231a73e8' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: '';
    cursor: pointer;
    height: 1.25em;
    margin-right: 0.5ch;
    padding: 2px;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: rotate(180deg) translateY(50%);
    transition: background 0.2s;
    vertical-align: middle;
    width: 1.25em;
  }
}

.details[open] .details__header::after {
  transform: rotate(0deg) translateY(-50%);
}
