.event-card {
  background: get-color('grey-50');

  &[show-details="1"] {
    .event-card__details {
      display: grid;
    }

    .event-card__overview button:not(:focus) {
      background: #{get-color('blue-50')};
      color: #{get-color('blue-600')}
    }
  }

  &.no-js {
    &:is(:hover, :focus) {
      .event-card__details {
        display: grid;
      }
    }

    .event-card__overview button {
      visibility: hidden;
    }
  }

  &__image {
    width: 38px;

    @include media-query('lg') {
      display: none;
    }
  }

  &__desktop-image {
    display: none;
    width: 225px;

    @include media-query('lg') {
      display: block;
    }
  }

  &__image, &__desktop-image {
    aspect-ratio: 1/1;
    position: relative;

    img {
      object-fit: contain;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .type--h5 {
    color: get-color('black');
  }

  &__meta {
    margin-top: 0.7rem;

    svg {
      fill: get-color('blue-500');
      height: auto;
      margin-right: get-size(200);
      width: 16px;
    }
  }

  p {
    font-size: 0.875rem;
    line-height: 1.333;

    @include media-query('lg') {
      font-size: 1.125rem;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    line-height: 1.333;
    font-size: 1rem;
    font-family: #{$font-google-sans};
    font-weight: 400;
    margin-bottom: 0.875rem;
    color: #{get-color('grey-900')};

    @include media-query('lg') {
      font-size: 1.5rem;
    }
  }

  &__sub-title {
    line-height: 1.75rem;
    font-family: #{$font-google-sans};
    font-weight: 500;
    font-size: 0.875rem;
    color: #{get-color('grey-900')};

    @include media-query('lg') {
      font-size: 1rem;
    }
  }

  &__overview button {
    align-self: flex-start;

    &:not(:focus) {
      background: #{get-color('blue-700')};
    }
  }

  &__details {
    display: none;
  }
}

.event-participant-card {
  border-radius: 12px;
  border: 1px solid get-color('grey-300');
  padding:1.25rem 1.125rem;

  @include media-query('lg') {
    padding:2rem;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.5;

    @include media-query('lg') {
      font-size: 1rem;
    }
  }

  svg {
    fill: get-color('blue-500');
    height: auto;
    margin-right: 6px;
    width: 20px;
  }
}
