.no-js {
  .sample-item__collapse-button {
    display: none;
  }

  .show-more-button {
    display: none;
  }
}

.sample-item {
  margin-bottom: get-size(300);
  padding-bottom: get-size(300);

  @include media-query('lg') {
    margin-bottom: get-size(400);
    padding-bottom: get-size(400);
  }

  &__button {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__description {
    color: get-color('grey-700');
  }

  &__prompt {
    color: get-color('grey-700');
  }

  &:not(:last-child) {
    border-bottom: 1px solid get-color('grey-300');
  }

  .show-more-button {
    cursor: pointer;
  }
}
