.featured-card {
  max-width: px-to-rem(464px);
  width: 100%;
}

.featured-card__title-bar {
  @include font-setup(13px, 24px);
  @include apply-utility('font', 'google-sans');

  > svg {
    height: px-to-rem(24px);
    width: px-to-rem(24px);
  }
}

.featured-card__thumbnail {
  border-radius: px-to-rem(3px);
  overflow: hidden;

  > img {
    max-height: px-to-rem(200px);
    object-fit: cover;
  }
}
