.feed-grid {
  column-count: 1;
  column-gap: get-size(0);

  @media screen and (min-width: 992px) and (max-width: 1230px) {
    column-count: 2;
    column-gap: get-size(500);
  }

  @include media-query('xl') {
    column-count: 3;
  }
}

.feed-card {
  border: 1px solid var(--color-hairline);
  break-inside: avoid-column;
  margin-left: auto;
  margin-right: auto;
  max-width: $blog-card-size;
  padding-top: 0;

  @media screen and (min-width: 992px) and (max-width: 1230px) {
    max-width: 100%;
  }
}

.feed-card__source {
  background-color: var(--color-code-bg);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.feed-card__thumbnail {
  img {
    height: 100%;
  }

  a {
    aspect-ratio: 1.57/1;
  }
}
