.filter-sheet {
  background: get-color('white');
  border-radius: 4px;

  &__title {
    color: get-color('grey-700');
    letter-spacing: 1.5px;
    margin-bottom: 1.1875rem;
    padding: 2rem 1.25rem 1rem;
  }

  &__filters {
    overflow-y: auto;
    padding: 0 1.25rem;

    &::-webkit-scrollbar-thumb {
      background: get-color('grey-300');
    }

    &::-webkit-scrollbar {
      width: 0.375rem;
    }
  }

  &__buttons {
    border-top: 1px solid get-color('grey-200');
    padding: 1.0625rem 1.25rem;

    button {
      margin-left: 0.5rem;
    }
  }
}
