footer {
  --flow-space: #{px-to-rem(12px)};
  background-color: var(--color-footer-bg);
}

.footer__stack {
  .footer__heading {
    color: get-color('grey-700');
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  ul {
    margin-top: 1.5rem;
  }
} 

.footer__stack + .footer__stack {
  margin-top: get-size(500);

  @include media-query('lg') {
    margin-top: 0;
  }
}

.footer__link {
  @extend %surface;
  color: var(--color-secondary-text);
  text-decoration: none;
}

