.fugu-container .tag-pill {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.3333333333;
    padding: 8px 32px 8px 15px !important;
    position: relative;
    border-radius: 18px;
}

.fugu-container button {
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
}

.fugu-container svg {
    height: 16px;
    width: 16px;
}

.fugu-container .enhanced-select li[selected] {
    background: transparent;
    color: var(--color-text);
}

.project-grid {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 28rem));
    justify-content: space-between;

    .blog-card {
        max-width: 100%;
        min-width: 360px;
    }
}

.search-apps-apis {
    border-bottom: 1px solid var(--color-hairline);
    padding-bottom: 40px;

    svg.icon {
        position: absolute;
        width: 24px !important;
        height: 24px !important;
        top: 10px;
        left: 15px;
    }

    .search-input {
        position: relative;
        margin-right: 20px;
    }

    .enhanced-select__wrapper {
        border: none;

        label > span {
            color: get-color('blue-700');
        }

        label svg > path {
            fill: get-color('blue-700');
        }
    }
}
