.language-select {

  // Temporary class until web.dev gets rid of w- prefix.
  .w-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  select {
    /* stylelint-disable property-no-vendor-prefix */
    -moz-appearance: none;
    -webkit-appearance: none;
    /* stylelint-enable property-no-vendor-prefix */
    appearance: none;
    // sass-lint:disable quotes
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10H7Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
    background-position: right 0.5em top 50%;
    background-repeat: no-repeat;
    background-size: 1.5em;
    border: 1px solid var(--color-hairline);
    border-radius: 1px;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    padding: 0.6em 3em 0.5em 0.8em;
  }

  select::-ms-expand {
    display: none;
  }

  // This will remove the dotted outline inside of the select when it is focused
  // in Firefox.
  // The trick is to make the text transparent (which makes the dotted outline
  // transparent) and then "display" the text again using a 0 offset text-shadow.
  // Note that this forces the text to be black when it is focused in Firefox.
  // To change that color, change the value of the text-shadow.
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  select:hover {
    border-color: var(--color-text);
  }
}
