.playlist {
  display: flex;
  flex-wrap: wrap;
  padding: px-to-rem(32px) 0 px-to-rem(32px) px-to-rem(32px);

  @media screen and (max-width: 960px) {
    padding: 0;
  }

  .playlist-details {
    flex-basis: px-to-rem(365px);
    margin-bottom: px-to-rem(32px);
    min-width: px-to-rem(365px);
    padding-right: px-to-rem(40px);

    @media screen and (max-width: 960px) {
      min-width: 100%;
    }

    .playlist-details-inner {
      background-color: var(--color-red-lighter);
      padding: px-to-rem(24px);
    }
    .playlist-thumbnail{
      position:relative
    }

    .playlist-play-all{
      position: absolute;
      background-color: var(--color-text);
      opacity:0.9;
      text-align: center;
      width:100%;
      border-radius: 0 0 0.75rem 0.75rem;
      bottom:0;
    }

    .playlist-play-all a{
      display:inline-block;
      text-decoration: none;
      color:var(--color-bg);
      font-size: px-to-rem(14px);
      width:100%;
      padding: 0.3rem 0;
    }
  }

  .playlist-action__link {
    font-size: 0;
    padding-right:1.4rem
  }

  .playlist-channel {
    align-items: center;
    border-top: 1px solid get-color('grey-400');
    display: flex;
    justify-content: space-between;
    padding-top: px-to-rem(24px);
  }

  .playlist-channel__icon {
    flex-basis: 56px;
    margin-right: px-to-rem(8px);
    min-width: 56px;
    min-width: 56px;
  }

  .playlist-channel__name {
    line-height: px-to-rem(22px);
    margin: 0;
  }

  .playlist-channel__subscribe {
    display: inline-block;
    margin-left: px-to-rem(16px);
  }

  .playlist-videos {
    flex-basis: calc(100% - #{px-to-rem(365px)});
  }

  .playlist-video {
    display: flex;
    overflow: hidden;
    padding-bottom: px-to-rem(32px);
    padding-right: px-to-rem(32px);
    position: relative;

    @media screen and (max-width: 960px) {
      padding: px-to-rem(16px);
    }

    &:hover::after {
      background-color: var(--color-red-lightest);
      content: '';
      display: block;
      height: calc(100% - #{px-to-rem(32px)});
      left: px-to-rem(18px);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    &:hover .playlist-video__action {
      display: block;
    }

    &:last-child .playlist-video__number::after {
      display: none;
    }

    &:last-child.playlist-video--content {
      border-bottom: unset;
      padding-bottom: 0;
    }
  }

  .playlist-video--content {
    align-items: center;
    border-bottom: 1px solid get-color('grey-300');
    display: flex;
    flex-basis: 100%;
    padding-bottom: px-to-rem(32px);

    @media screen and (max-width: 960px) {
      padding-bottom: px-to-rem(16px);
      padding-right: px-to-rem(110px);
    }
  }

  .playlist-video__number {
    background: get-color('red-600');
    border-radius: 100%;
    color: #fff;
    height: px-to-rem(30px);
    line-height: px-to-rem(30px);
    margin-right: px-to-rem(24px);
    min-width: px-to-rem(30px);
    position: relative;
    text-align: center;

    @media screen and (max-width: 960px) {
      font-size: px-to-rem(14px);
      height: px-to-rem(22px);
      line-height: px-to-rem(22px);
      margin-right: px-to-rem(16px);
      max-width: px-to-rem(22px);
      min-width: px-to-rem(22px);
    }

    &::after {
      border-left: 5px dotted get-color('red-300');
      content: '';
      display: block;
      height: 300px;
      left: px-to-rem(13px);
      position: absolute;
      width: 4px;
    }
  }

  @media screen and (max-width: 960px) {
    .playlist-video__number::after {
      display: none;
    }
  }

  .playlist-video__thumbnail {
    flex-basis: 204px;
    margin-right: px-to-rem(24px);
    min-width: 204px;

    @media screen and (max-width: 960px) {
      border-radius: px-to-rem(10px);
      height: auto;
      margin-right: 0;
      min-width: px-to-rem(100px);
      overflow: hidden;
      position: absolute;
      right: px-to-rem(16px);
      top: px-to-rem(16px);
      width: px-to-rem(100px);
    }
  }

  .playlist-video__details a {
    color: var(--color-text);
    text-decoration: none;
  }

  .playlist-video__detail p {
    @media screen and (max-width: 960px) {
      font-size: px-to-rem(14px);
      line-height: 1.5;
    }
  }

  .playlist-video__action {
    display: none;
    margin-left: auto;
  }

  .playlist-video__title {
    font-weight: 500;
    line-height: 1rem;
    @media screen and (max-width: 960px) {
      margin-bottom: px-to-rem(6px);
    }
  }
}
