.release-card__icon {
  align-items: center;
  background: var(--color-green-lightest);
  border-radius: 128px;
  color: var(--color-green-darkest);
  display: flex;
  font-size: 42px;
  justify-content: center;
  margin: 0 auto;
  max-width: 25vw;
  width: get-size(600) * 3;

  &::after {
    content: '';
    padding-bottom: 100%;
    position: relative;
  }
}

.release-card__icon-pending {
  background: var(--color-yellow-lightest);
  color: var(--color-yellow-darkest);
}

.release-card__icon-beta {
  background: var(--color-blue-lightest);
  color: var(--color-blue-darkest);
}
