// The scaffold is a special block and only used to give the entire site
// its layout.

.scaffold {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  min-height: 100vh;
}

.scaffold header {
  grid-column: 1 / 4;
}

.scaffold .sidebar {
  grid-column: 1 / 2;
}

.scaffold main {
  grid-column: 2 / 3;
}

.scaffold .toc {
  grid-column: 3 / 4;
}

.scaffold footer {
  grid-column: 1 / 4;
}
