// The scaffold is a special block and only used to give the entire site
// its layout.

.scaffold {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  min-height: 100vh;
}

.scaffold > * {
  // Flex/Grid children have a default min-width: auto which means they can
  // easily bust out of the container and cause horizontal scrolling. Because
  // min-width wins against width and max-width we need to explicitly set it to
  // 0 to tell the browser that these children have no right to take up any
  // minimum width
  min-width: 0;
}

.scaffold > top-nav {
  grid-column: 1 / 4;
}

.scaffold > side-nav {
  grid-column: 1 / 2;
}

.scaffold > main {
  grid-column: 2 / 3;
}

.scaffold > .toc {
  grid-column: 3 / 4;
}

.scaffold > footer {
  grid-column: 1 / 4;
}
