select {
  // stylelint-disable property-no-vendor-prefix
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10H7Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
  background-position: right 0.5em top 50%;
  background-repeat: no-repeat;
  background-size: 1.5em;
  border: 1px solid var(--color-hairline);
  border-radius: 1px;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  padding: 0.6em 3em 0.5em 0.8em;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: var(--color-text);
}
