// The sidebar navigation that appears on the left-hand side of the site.

.sidebar {
  padding: get-size(400) get-size(200);
}

.sidebar__icon {
  height: get-size(400);
  width: get-size(400);
}

// TODO (robdodson): I've asked Jiwoong if we can switch these to SVG that can
// be styled with CSS. The current illustrations change their SVG paths between
// states so, at a minimum, we'd have two SVG images for inactive and active
// states, but that doesn't include hover and focus.

.sidebar__icon[data-icon-type='home'] {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 9L12 3L20 9V21H4V9ZM15 19H18V10L12 5.5L6 10V19H9V13H15V19Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
}

.sidebar__icon[data-icon-type='blog'] {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 4V16H13.6L13 16.89L12 18.39L11 16.89L10.4 16H4V4H20ZM22 5C22 3.34315 20.6569 2 19 2H5C3.34315 2 2 3.34315 2 5V15C2 16.6569 3.34315 18 5 18H9.33L12 22L14.67 18H19C20.6569 18 22 16.6569 22 15V5Z' fill='%235F6368'/%3E%3Cpath d='M6 7V9H18V7H6Z' fill='%235F6368'/%3E%3Cpath d='M6 11H15V13H6V11Z' fill='%235F6368'/%3E%3C/svg%3E");
}

.sidebar__icon[data-icon-type='docs'] {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 2H7V4H17V2ZM20 5H4V7H20V5ZM20 8H4C2.9 8 2 8.9 2 10V20C2 21.1 2.9 22 4 22H20C21.1 22 22 21.1 22 20V10C22 8.9 21.1 8 20 8ZM4 20H20V10H4V20Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
}

.sidebar__icon[data-icon-type='releases'] {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4ZM10.973 8.47L10.125 7.1132L9.277 8.47L7.69575 11H6V13H8.25H8.80425L9.098 12.53L10.125 10.8868L11.152 12.53L13.027 15.53L13.875 16.8868L14.723 15.53L16.3042 13H18V11H15.75H15.1958L14.902 11.47L13.875 13.1132L12.848 11.47L10.973 8.47Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
}

.sidebar__link[data-state='active'] {
  .sidebar__icon[data-icon-type='home'] {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3L4 9V21H9V14H15V21H20V9L12 3Z' fill='%231A73E8'/%3E%3C/svg%3E%0A");
  }

  .sidebar__icon[data-icon-type='docs'] {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 2H7V4H17V2ZM20 5H4V7H20V5ZM20 8H4C2.9 8 2 8.9 2 10V20C2 21.1 2.9 22 4 22H20C21.1 22 22 21.1 22 20V10C22 8.9 21.1 8 20 8ZM4 20H20V10H4V20Z' fill='%231A73E8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 20H4V10H20V20ZM10.5 11.25V18.75L15.5 15L10.5 11.25Z' fill='%231A73E8'/%3E%3Cpath d='M10.5 18.75V11.25L15.5 15L10.5 18.75Z' fill='%231A73E8'/%3E%3C/svg%3E%0A");
  }

  .sidebar__icon[data-icon-type='blog'] {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 4V16H13.6L13 16.89L12 18.39L11 16.89L10.4 16H4V4H20ZM22 5C22 3.34315 20.6569 2 19 2H5C3.34315 2 2 3.34315 2 5V15C2 16.6569 3.34315 18 5 18H9.33L12 22L14.67 18H19C20.6569 18 22 16.6569 22 15V5Z' fill='%231A73E8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 4V16H13.6L13 16.89L12 18.39L11 16.89L10.4 16H4V4H20ZM6 9V7H18V9H6ZM15 11H6V13H15V11Z' fill='%231A73E8'/%3E%3C/svg%3E");
  }

  .sidebar__icon[data-icon-type='releases'] {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10.973 8.47L10.125 7.1132L9.277 8.47L7.69575 11H6V13H8.25H8.80425L9.098 12.53L10.125 10.8868L11.152 12.53L13.027 15.53L13.875 16.8868L14.723 15.53L16.3042 13H18V11H15.75H15.1958L14.902 11.47L13.875 13.1132L12.848 11.47L10.973 8.47Z' fill='%231A73E8'/%3E%3C/svg%3E%0A");
  }
}
