.tags-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: get-size(600);

  @include media-query('md') {
    column-gap: get-size(1000);
    grid-template-columns: repeat(3, 1fr);
    row-gap: get-size(600);
  }

  @include media-query('lg') {
    grid-template-columns: repeat(4, 1fr);
  }

  .tag-card {
    padding: get-size(300) 0;
  }
}

// stylelint-disable max-nesting-depth
.tags-grid__header {
  .tag-card {
    // Mobile-only
    // Every card except for the first one should have a top border.
    &:not(:first-child) {
      @include media-query('md-max') {
        border-top: 1px solid var(--color-hairline);
      }
    }
  }
}

.tags-grid__index {
  .tag-card {
    border-top: 1px solid var(--color-hairline);
  }
}
