.tag-card {
  padding: get-size(300) 0;

  // Mobile-only
  // Every card except for the first one should have a top border.
  &:not(:first-child) {
    @include media-query('md-max') {
      border-top: 1px solid var(--color-hairline);
    }
  }

  // All but the first four cards should have a top border.
  &:nth-of-type(n + 5) {
    @include media-query('md') {
      border-top: 1px solid var(--color-hairline);
    }
  }
}
