top-nav {
  padding: get-size(200);

  @include media-query('lg') {
    padding: px-to-rem(12px) get-size(400);
  }

  nav {
    gap: get-size(300);
    grid-template-columns: min-content auto min-content;

    @include media-query('lg') {
      gap: get-size(800);
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
}

.top-nav__logo {
  @extend %type--large;
  @include apply-utility('font', 'google-sans');
  color: currentColor;
  text-decoration: none;
}

.top-nav__logo > * + * {
  margin-left: px-to-rem(14px);
}
