.youtube {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.youtube__embed {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
