.youtube {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.youtube-fallback {
  align-items: center;
  aspect-ratio: 16 / 9;
  background-color: var(--color-bg-shade);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
}

lite-youtube {
  height: 100%;
  left: 50%;
  position: absolute;
  text-align: initial;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
