{% from 'macros/cards/blog-card.njk' import blogCard with context %}
{% from 'macros/icon.njk' import icon with context %}

{% extends "layouts/base.njk" %}

{% block title_bar %}
{% include 'partials/breadcrumbs-author.njk' %}
{% endblock %}

{% block content %}
<div class="author gap-top-300 lg:gap-top-400 pad-left-500 pad-right-500">
  <div class="measure-1280 center-margin switcher gap-top-600 gap-bottom-800">
    <div class="author-hero">
      <div class="switcher align-center">
        {% if paged.image %}
          {% Img
            src=paged.image,
            alt=paged.title | i18n(locale),
            height="192",
            width="192",
            class="rounded-full display-inline-block avatar",
            sizes="192px, 128px",
            fetchpriority="high"
          %}
        {% endif %}
        <div class="flow">
          <h1 class="type--h4">{{ paged.title | i18n(locale) }}</h1>
          <p class="type gap-top-200">{{ paged.description | i18n(locale) | md | safe }}</p>
        </div>
      </div>

      <div class="lg:pad-top-600 lg:pad-bottom-600 pad-top-300 pad-bottom-300 display-flex direction-column">
        <div class="display-flex gap-top-400 md:gap-bottom-200 gap-bottom-500 lg:gap-top-0 author-hero__social">
          {% if paged.webdev  %}
            <a rel="me" href="https://web.dev/authors/{{ paged.webdev }}" target="_blank" class="color-secondary-text social-icon" aria-label="Webdev" target="_blank">
              {{ icon('webdev', {hidden: true}) }}
            </a>
          {% endif %}

          {% if paged.homepage %}
            <a rel="me" href="{{ paged.homepage }}" aria-label="{{ 'i18n.common.website' | i18n(locale) }}" target="_blank" class="color-secondary-text social-icon">
              {{ icon('world', {hidden: true}) }}
            </a>
          {% endif %}
          {% if paged.linkedin  %}
            <a rel="me" href="https://www.linkedin.com/in/{{ paged.linkedin }}" target="_blank" class="color-secondary-text social-icon" aria-label="LinkedIn">
              {{ icon('linkedin', {hidden: true}) }}
            </a>
          {% endif %}
          {% if paged.mastodon  %}
            <a rel="me" href="{{ paged.mastodon }}" target="_blank" class="color-secondary-text social-icon" aria-label="Mastodon">
              {{ icon('mastodon', {hidden: true}) }}
            </a>
          {% endif %}
          {% if paged.github %}
            <a rel="me" href="https://github.com/{{ paged.github }}" target="_blank" class="color-secondary-text social-icon" aria-label="GitHub">
              {{ icon('github', {hidden: true}) }}
            </a>
          {% endif %}
          {% if paged.glitch  %}
            <a rel="me" href="https://glitch.com/@{{ paged.glitch }}" target="_blank" class="color-secondary-text social-icon" aria-label="Glitch">
              {{ icon('glitch', {hidden: true}) }}
            </a>
          {% endif %}
          {% if paged.twitter %}
            <a rel="me" href="https://twitter.com/{{ paged.twitter }}" target="_blank" class="color-secondary-text social-icon" aria-label="Twitter">
              {{ icon('twitter', {hidden: true}) }}
            </a>
          {% endif %}
          {% if paged.rss  %}
            <a rel="me" href="{{ paged.rss }}" class="color-secondary-text social-icon" aria-label="RSS">
              {{ icon('rss-author', {hidden: true}) }}
            </a>
          {% endif %}
        </div>

        {% macro renderBio(bio) %}
          {% if bio is string %}
            <p class="gap-top-300 color-secondary-text">{{ bio }}</p>
          {% else %}
            {% for paragraph in bio %}
              <p class="gap-top-500 color-secondary-text">{{ paragraph }}</p>
            {% endfor %}
          {% endif %}
        {% endmacro %}

        {% if paged.bio %} 
          {% set bio = paged.bio %}
          {% if bio %}
            <div class="author-hero__bio"> {{ renderBio(bio) }} </div>

            {% Details %}
            {% DetailsSummary %}
              <p>Bio</p>
            {% endDetailsSummary %}
            {{ renderBio(bio) }}
            {% endDetails %}
          {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="author-featured lg:gap-top-0 gap-top-400">
      {% if paged.featuredPost %}
        {% set featured = paged.featuredPost %}
        {% set post = helpers.findByUrl(collections.all, featured.url, 'en') %}

        {% if post %}
          {% set eyebrowIcon = featured.eyebrowIcon or 'star' %}
          {% set eyebrowText = featured.eyebrowText or 'Featured' %}
          {% set thumbnail = featured.thumbnail or post.data.hero %}
          {% set alt = featured.alt or post.data.alt or '' %}
          {% set theme = featured.theme or 'quaternary' %}

          <a href="{{ featured.url or post.url }}" class="card bg-{{theme}}">
            <div class="content">
              <div class="card__eyebrow flow">
                {{ icon(eyebrowIcon) }}
                <span class="color-mid-text">{{ eyebrowText }}</span>
              </div>

              <div class="card__content flow">
                <h3 class="type--h4 gap-bottom-300">
                  {{ featured.title or post.data.title }}
                </h3>
                <p class="text-size-1 color-mid-text">{{ featured.summary or post.data.description }}</p>
              </div>
            </div>

            {% Img src=thumbnail, alt=alt, width="800", height="450", class="card__hero" %}
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="measure-1280 width-full center-margin pad-left-400 pad-right-400">
    <div class="blog-grid">
      {% for item in paged.pagination.items %}
        {% set post = {
          data: {
            thumbnail: item.thumbnail,
            title: item.title,
            alt: item.title,
            description: item.description,
            tags: item.tags,
            authors: item.authors,
            date: item.date
          },
          url: item.url
        } %}
        {{ blogCard(post) }}
      {% endfor %}
    </div>
    {% include 'partials/pagination.njk' %}
  </div>
</div>
{% endblock %}
