{% extends "layouts/base.njk" %}

{% block content %}
<h1 class="type--h1">{{ title }}</h1>
<h2>{{ i18n.headings['latest-news'] }}</h2>

{% for post in pagination.items %}
  {% if loop.first and post.data.hero %}
    {# Replace img with the line below once #145 lands. #}
    {# {{ 'post.data.hero' | imgix('Hero image') | safe }} #}
    <img src="{{ post.data.hero }}" alt="Hero image"/>
  {% endif %}
  <a href="{{ post.url }}"><h3>{{ post.data.title }}</h3></a>
  <p>{{ post.data.snippet }}</p>
  {% include 'partials/authors.njk' %}
{% endfor %}
{% include 'partials/pagination.njk' %}
{% endblock %}