{% extends "layouts/base.njk" %}

{% block title_bar %}
  {% include 'partials/breadcrumbs.njk' %}
{% endblock %}

{% block content %}
  <article class="stack measure-long type center-margin center-images width-full pad-400">
    
    <div class="stack flow-space-200">
      {% include 'partials/post-headline.njk' %}
    </div>

    {% if authors %}
      <div class="stack-exception-700">
        {% include 'partials/authors.njk' %}
      </div>
    {% endif %}

    {{ content | safe }}
  </article>
{% endblock %}