{% extends "layouts/base.njk" %}

{% block content %}
  {% include 'partials/chrome-100-hero-section.njk' %}
  {% include 'partials/chrome-100-card-section.njk' %}
  {% include 'partials/chrome-100-footer-section.njk' %}
{% endblock %}
