<main role="main" class="devsite-main-content">
   <div class="devsite-sidebar" fixed="" style="--devsite-js-sidebar-max-height: 565px; --devsite-js-sidebar-offset: 0;">
      <div class="devsite-sidebar-content">
         <devsite-toc class="devsite-nav" role="navigation" aria-label="On this page" depth="2" scrollbars="" disabled=""></devsite-toc>
         <devsite-recommendations-sidebar class="nocontent devsite-nav"></devsite-recommendations-sidebar>
      </div>
   </div>
   <devsite-content>
      <article class="devsite-article">
         <div class="devsite-article-meta nocontent" role="navigation">
            <ul class="devsite-breadcrumb-list"></ul>
         </div>
         <devsite-toc class="devsite-nav" depth="2" devsite-toc-embedded="" disabled=""></devsite-toc>
         <div class="devsite-article-body clearfix
            devsite-no-page-title">
            <section class="devsite-landing-row devsite-landing-row-1-up devsite-landing-row-100" header-position="top">
               <div class="devsite-landing-row-inner">
                  <div class="devsite-landing-row-group">
                     <div class="devsite-landing-row-item" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/bar">
                              <img alt="" src="/static/dcc/hero.svg" srcset="" sizes="(max-width: 840px) 100vw, 1440px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="a-powerful-web-made-easier" data-text="A Powerful Web. Made Easier." class="hide-from-toc no-link">
                                 <a href="/bar">
                                 A Powerful Web. Made Easier.
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Helping you build, grow and innovate on the modern web.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/bar" class="button
                                    ">Get Started</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section class="devsite-landing-row devsite-landing-row-2-up devsite-landing-row-cards devsite-landing-row-no-image-background" header-position="top">
               <div class="devsite-landing-row-inner">
                  <div class="devsite-landing-row-group">
                     <div class="devsite-landing-row-item dcc-blog-card" description-position="left">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/blog/insider-dec-22">
                              <img alt="" src="/static/dcc/example_asset.svg" srcset="" sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <div class="devsite-landing-row-item-labels">
                                 <span class="
                                    ">FEATURE</span>
                              </div>
                              <h3 id="chrome-dev-insider-the-year-that-was" data-text="Chrome Dev Insider - The year that was" class="hide-from-toc no-link">
                                 <a href="/blog/insider-dec-22">
                                 Chrome Dev Insider - The year that was
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper dui vitae venenatis pellentesque. Morbi tincidunt efficitur magna, sit amet sodales elit. Nulla at ligula dui. Sed facilisis ante vel vehicula mollis.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/blog/insider-dec-22" class="button
                                    ">Explore Now</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item dcc-blog-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/blog/spa-view-transitions-land">
                              <img alt="" src="/static/dcc/example_asset.svg" srcset="" sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <div class="devsite-landing-row-item-labels">
                                 <span class="dcc-label-top
                                    ">LATEST NEWS</span>
                              </div>
                              <h3 id="spa-view-transitions-land-in-chrome-111" data-text="SPA view transitions land in Chrome 111" class="hide-from-toc no-link">
                                 <a href="/blog/spa-view-transitions-land">
                                 SPA view transitions land in Chrome 111
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper dui vitae venenatis pellentesque. Morbi tincidunt efficitur magna, sit amet sodales elit. Nulla at ligula dui. Sed facilisis ante vel vehicula mollis.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/blog/spa-view-transitions-land" class="button
                                    ">Explore Now</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section class="devsite-landing-row devsite-landing-row-3-up devsite-landing-row-cards devsite-landing-row-no-image-background" header-position="top">
               <div class="devsite-landing-row-inner">
                  <div class="devsite-landing-row-group">
                     <div class="devsite-landing-row-item button" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/blog">
                              <img alt="" src="/static/dcc/get_inspired_icon.svg?dcb_=0.309550409255241" srcset="" sizes="(max-width: 840px) 50vw, 464px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="get-inspired" data-text="Get Inspired" class="hide-from-toc no-link">
                                 <a href="/blog">
                                 Get Inspired
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Extend your product’s reach through the browser, increase engagement by improving quality and make the most of the web’s capabilities. See how businesses are succeeding on the web.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <span class="button
                                    button-white
                                    ">All stories</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <img alt="" src="/static/dcc/case_study_thumb.svg?dcb_=0.5218146900290557" srcset="" sizes="(max-width: 840px) 50vw, 464px" loading="lazy">
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <div class="devsite-landing-row-item-labels">
                                 <span class="
                                    ">CASE STUDY</span>
                                 <span class="dcc-label-top
                                    "></span>
                              </div>
                              <div class="devsite-landing-row-item-description-content">
                                 Case study
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item devsite-landing-row-item-no-media" description-position="bottom">
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="headline-placeholder" data-text="Headline Placeholder" class="hide-from-toc no-link">
                                 <a href="/foo">
                                 Headline Placeholder
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper dui vitae venenatis pellentesque. Morbi tincidunt efficitur magna, sit amet sodales elit. Nulla at ligula dui. Sed facilisis ante vel vehicula mollis. Aenean euismod dui at velit viverra molestie.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/foo" class="button
                                    button-white
                                    ">Read more</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section class="devsite-landing-row devsite-landing-row-4-up devsite-landing-row-cards devsite-landing-row-no-image-background" background="pale-blue" header-position="top">
               <div class="devsite-landing-row-inner">
                  <header class="devsite-landing-row-header">
                     <div class="devsite-landing-row-header-text">
                        <h2 id="features-tools-and-programs-to-make-developers-successful-on-the-web" data-text="Features, tools and programs to make developers successful on the web.">
                           Features, tools and programs to make developers successful on the web.
                        </h2>
                     </div>
                  </header>
                  <div class="devsite-landing-row-group">
                     <div class="devsite-landing-row-item dcc-services-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/tags/progressive-web-apps">
                              <img alt="" src="/static/dcc/powerful_icon.svg?dcb_=0.4280002925905082" srcset="" sizes="(max-width: 600px) 50vw, (max-width: 840px) 25vw, 342px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="powerful-platform-capabilities" data-text="Powerful platform capabilities" class="hide-from-toc no-link">
                                 <a href="/tags/progressive-web-apps">
                                 Powerful platform capabilities
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/tags/progressive-web-apps" class="button dcc-web-app-features-link
                                    ">Web App Features</a>
                                 <a href="/docs/android" class="button dcc-web-on-android-link
                                    ">Web on Android</a>
                                 <a href="/docs/extensions" class="button dcc-chrome-extensions-link
                                    ">Chrome Extensions</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item dcc-services-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="https://web.dev/vitals/">
                              <img alt="" src="/static/dcc/solutions_icon.svg?dcb_=0.7325677090676681" srcset="" sizes="(max-width: 600px) 50vw, (max-width: 840px) 25vw, 342px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="solutions-for-quality-experiences" data-text="Solutions for quality experiences" class="hide-from-toc no-link">
                                 <a href="https://web.dev/vitals/">
                                 Solutions for quality experiences
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="https://web.dev/vitals/" class="button dcc-cwv-link
                                    ">Performance (CWV)</a>
                                 <a href="/tags/css" class="button dcc-design-link
                                    ">Design and UI</a>
                                 <a href="/tags/privacy" class="button dcc-privacy-link
                                    ">Privacy</a>
                                 <a href="/tags/identity" class="button dcc-identity-link
                                    ">Identity</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item dcc-services-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/docs/devtools">
                              <img alt="" src="/static/dcc/productivity_icon.svg?dcb_=0.25264660019234775" srcset="" sizes="(max-width: 600px) 50vw, (max-width: 840px) 25vw, 342px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="productivity-made-easier" data-text="Productivity made easier" class="hide-from-toc no-link">
                                 <a href="/docs/devtools">
                                 Productivity made easier
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/docs/devtools" class="button dcc-dev-tools-link
                                    ">Chrome Dev Tools</a>
                                 <a href="/docs/devtools/performance-insights" class="button dcc-performance-link
                                    ">Performance Tools</a>
                                 <a href="/docs/puppeteer" class="button dcc-puppeteer-link
                                    ">Puppeteer</a>
                                 <a href="/docs/privacy-sandbox/topics/integration-guide" class="button dcc-chrome-testing-link
                                    ">Chrome for Testing</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item dcc-services-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="https://web.dev/baseline/">
                              <img alt="" src="/static/dcc/open_icon.svg?dcb_=0.1060825119771891" srcset="" sizes="(max-width: 600px) 50vw, (max-width: 840px) 25vw, 342px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="open-by-design" data-text="Open by design" class="hide-from-toc no-link">
                                 <a href="https://web.dev/baseline/">
                                 Open by design
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="https://web.dev/baseline/" class="button dcc-baseline-link
                                    ">Baseline</a>
                                 <a href="/aurora" class="button dcc-aurora-link
                                    ">Project Aurora</a>
                                 <a href="https://web.dev/" class="button dcc-webdev-link
                                    ">web.dev</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section class="devsite-landing-row devsite-landing-row-2-up" header-position="left">
               <div class="devsite-landing-row-inner">
                  <header class="devsite-landing-row-header" icon-position="top">
                     <div class="devsite-landing-row-header-icon-container" size="medium">
                        <div class="devsite-landing-row-header-icon material-icons" aria-hidden="true">
                           verified
                        </div>
                     </div>
                     <div class="devsite-landing-row-header-text">
                        <h2 id="always-updating" data-text="Always updating">
                           Always updating
                        </h2>
                        <div class="devsite-landing-row-description">
                           See what's included in Chrome's latest stable and beta releases
                        </div>
                     </div>
                  </header>
                  <div class="devsite-landing-row-group">
                     <div class="devsite-landing-row-item dcc-blog-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/blog/chrome-112-beta">
                              <img alt="" src="/static/dcc/chrome_112_thumb.svg?dcb_=0.7530921641090307" srcset="" sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="chrome-112-beta" data-text="Chrome 112 beta" class="hide-from-toc no-link">
                                 <a href="/blog/chrome-112-beta">
                                 Chrome 112 beta
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper dui vitae venenatis pellentesque. Morbi tincidunt efficitur magna, sit amet sodales elit. Nulla at ligula dui. Sed facilisis ante vel vehicula mollis. Aenean euismod dui at velit viverra molestie.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/blog/chrome-112-beta" class="button
                                    ">All beta blog posts</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item dcc-blog-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/blog/new-in-chrome-111">
                              <img alt="" src="/static/dcc/chrome_111_thumb.svg?dcb_=0.673762185876482" srcset="" sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="new-in-chrome-111" data-text="New in Chrome 111" class="hide-from-toc no-link">
                                 <a href="/blog/new-in-chrome-111">
                                 New in Chrome 111
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Eu turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/blog/new-in-chrome-111" class="button
                                    ">All stable blog posts</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section class="devsite-landing-row devsite-landing-row-4-up" header-position="left">
               <div class="devsite-landing-row-inner">
                  <header class="devsite-landing-row-header">
                     <div class="devsite-landing-row-header-text">
                        <h2 id="docs" data-text="Docs">
                           Docs
                        </h2>
                        <div class="devsite-landing-row-description">
                           All the resources you need to start building
                        </div>
                     </div>
                     <div class="devsite-landing-row-header-buttons">
                        <a href="/foo" class="button
                           ">See all docs</a>
                     </div>
                  </header>
                  <div class="devsite-landing-row-group">
                     <div class="devsite-landing-row-item dcc-docs-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/docs/devtools">
                              <img alt="" src="/static/dcc/chrome_devtools_thumb.svg?dcb_=0.18789081348825132" srcset="" sizes="(max-width: 600px) 50vw, (max-width: 840px) 25vw, 342px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="chrome-dev-tools" data-text="Chrome Dev Tools" class="hide-from-toc no-link">
                                 <a href="/docs/devtools">
                                 Chrome Dev Tools
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper dui vitae venenatis pellentesque. Morbi tincidunt efficitur magna, sit amet sodales elit. Nulla at ligula dui. Sed facilisis ante vel vehicula mollis. Aenean euismod dui at velit viverra molestie.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/docs/devtools" class="button
                                    ">See all documentation</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item dcc-docs-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/docs/android">
                              <img alt="" src="/static/dcc/web_on_android_thumb.svg?dcb_=0.15900464796808622" srcset="" sizes="(max-width: 600px) 50vw, (max-width: 840px) 25vw, 342px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="web-on-android" data-text="Web on Android" class="hide-from-toc no-link">
                                 <a href="/docs/android">
                                 Web on Android
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper dui vitae venenatis pellentesque. Morbi tincidunt efficitur magna, sit amet sodales elit. Nulla at ligula dui. Sed facilisis ante vel vehicula mollis. Aenean euismod dui at velit viverra molestie.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/docs/android" class="button
                                    ">See all documentation</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item dcc-docs-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/docs/webstore">
                              <img alt="" src="/static/dcc/chrome_web_store_thumb.svg?dcb_=0.7129434925300611" srcset="" sizes="(max-width: 600px) 50vw, (max-width: 840px) 25vw, 342px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="chrome-web-store" data-text="Chrome Web Store" class="hide-from-toc no-link">
                                 <a href="/docs/webstore">
                                 Chrome Web Store
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper dui vitae venenatis pellentesque. Morbi tincidunt efficitur magna, sit amet sodales elit. Nulla at ligula dui. Sed facilisis ante vel vehicula mollis. Aenean euismod dui at velit viverra molestie.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/docs/webstore" class="button
                                    ">See all documentation</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item dcc-docs-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="/docs/extensions">
                              <img alt="" src="/static/dcc/chrome_extensions_thumb.svg?dcb_=0.06700953167170587" srcset="" sizes="(max-width: 600px) 50vw, (max-width: 840px) 25vw, 342px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="extensions" data-text="Extensions" class="hide-from-toc no-link">
                                 <a href="/docs/extensions">
                                 Extensions
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper dui vitae venenatis pellentesque. Morbi tincidunt efficitur magna, sit amet sodales elit. Nulla at ligula dui. Sed facilisis ante vel vehicula mollis. Aenean euismod dui at velit viverra molestie.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="/docs/extensions" class="button
                                    ">See all documentation</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section class="devsite-landing-row devsite-landing-row-2-up devsite-landing-row-cards devsite-landing-row-no-image-background" background="pale-blue" header-position="top">
               <div class="devsite-landing-row-inner">
                  <header class="devsite-landing-row-header">
                     <div class="devsite-landing-row-header-text">
                        <h2 id="connect-with-the-team" data-text="Connect with the team">
                           Connect with the team
                        </h2>
                     </div>
                  </header>
                  <div class="devsite-landing-row-group">
                     <div class="devsite-landing-row-item dcc-social-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="https://twitter.com/ChromiumDev">
                              <img alt="" src="/static/dcc/chrome_twitter.svg?dcb_=0.8462193826712601" srcset="" sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="twitter-for-chrome-developers" data-text="Twitter for Chrome Developers" class="hide-from-toc no-link">
                                 <a href="https://twitter.com/ChromiumDev">
                                 Twitter for Chrome Developers
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Follow us to get real time updates and announcements about Chrome and the web.
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="https://twitter.com/ChromiumDev" class="button
                                    ">Follow</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="devsite-landing-row-item dcc-social-card" description-position="bottom">
                        <div class="devsite-landing-row-item-media
                           ">
                           <figure class="devsite-landing-row-item-image">
                              <a href="https://www.youtube.com/channel/UCnUYZLuoy1rq1aVMwx4aTzw">
                              <img alt="" src="/static/dcc/chrome_youtube.svg?dcb_=0.23215831956945698" srcset="" sizes="(max-width: 600px) 100vw, (max-width: 840px) 50vw, 708px" loading="lazy">
                              </a>
                           </figure>
                        </div>
                        <div class="devsite-landing-row-item-description">
                           <div class="devsite-landing-row-item-body">
                              <h3 id="youtube-for-chrome-developers" data-text="YouTube for Chrome Developers" class="hide-from-toc no-link">
                                 <a href="https://www.youtube.com/channel/UCnUYZLuoy1rq1aVMwx4aTzw">
                                 YouTube for Chrome Developers
                                 </a>
                              </h3>
                              <div class="devsite-landing-row-item-description-content">
                                 Subscribe to stay up to speed with Chrome and web updates, tutorials, case studies and more. Subscribe
                              </div>
                              <div class="devsite-landing-row-item-buttons">
                                 <a href="https://www.youtube.com/channel/UCnUYZLuoy1rq1aVMwx4aTzw" class="button
                                    ">Learn more</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </article>
      <devsite-notification></devsite-notification>
      <div class="devsite-content-data">
         <template class="devsite-thumb-rating-down-categories">
            [{
            "type": "thumb-down",
            "id": "missingTheInformationINeed",
            "label":"Missing the information I need"
            },{
            "type": "thumb-down",
            "id": "tooComplicatedTooManySteps",
            "label":"Too complicated / too many steps"
            },{
            "type": "thumb-down",
            "id": "outOfDate",
            "label":"Out of date"
            },{
            "type": "thumb-down",
            "id": "samplesCodeIssue",
            "label":"Samples / code issue"
            },{
            "type": "thumb-down",
            "id": "otherDown",
            "label":"Other"
            }]
         </template>
         <template class="devsite-thumb-rating-up-categories">
            [{
            "type": "thumb-up",
            "id": "easyToUnderstand",
            "label":"Easy to understand"
            },{
            "type": "thumb-up",
            "id": "solvedMyProblem",
            "label":"Solved my problem"
            },{
            "type": "thumb-up",
            "id": "otherUp",
            "label":"Other"
            }]
         </template>
      </div>
   </devsite-content>
</main>
