{% extends "layouts/base.njk" %}

{% block title_bar %}
  {% include 'partials/breadcrumbs.njk' %}
{% endblock %}

{% set tocContents %}
  {{- content | toc | safe -}}
{% endset %}

{% block content %}
  <div class="display-flex gap-top-300 lg:gap-top-400">
    {% include 'partials/navigation-tree.njk' %}

    <article class="post stack measure-long width-full pad-left-400 pad-right-400">
      <div class="stack flow-space-200">
        {% include 'partials/post-headline.njk' %}
      </div>

      {% if authors %}
        <div class="stack-exception-600 lg:stack-exception-700">
          {% include 'partials/post-authors.njk' %}
        </div>
      {% endif %}

      {% include 'partials/toc-inner.njk' %}
      {% include 'partials/draft.njk' %}

      <div class="stack stack--block type center-images">
        {{ content | safe }}
      </div>

      {% include 'partials/updated.njk' %}
    </article>

    {% include 'partials/toc-side.njk' %}
  </div>
{% endblock %}