{# 
  This page grabs project data from _data/docs/projects.yml. It looks up each
  project by its url (for example, it looks for /docs/extensions) and uses the
  project's own frontmatter to render the project title and summary.
#}

{% extends 'layouts/base.njk' %}

{% block title_bar %}
  {% include 'partials/breadcrumbs.njk' %}
{% endblock %}

{% block content %}
  <h1 class="type--h1">{{ title }}</h1>

  {% for key, value in i18n.projects -%}
    <h2 class="type--h2">{{ i18n.projects[key].heading }}</h2>
    <ul>
      {% for item in docs.projects[key] -%}
        {# Find the landing page for the project itself and grab its metadata #}
        {% set projectUrl = helpers.join(page.url, item.url) %}
        {% set project = helpers.findByUrl(collections.all, projectUrl) %}
        <li>
          {% include 'partials/project-icon.njk' %}
        </li>
      {%- endfor %}
    </ul>
  {%- endfor %}
{% endblock %}