{% extends "layouts/base.njk" %}

{% block content %}
<h1>{{ title }}</h1>

<h2>{{ headings.chrome }}</h2>
<ul>
  {% for item in docs.landing.chrome %}
    {% set project = helpers.findByUrl(collections.all, item.url, locale) %}
    <li>
      <a href="{{ project.url }}">{{ project.data.title }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}