{% extends "layouts/base.njk" %}

{% block content %}
  <div class="measure-short pad-400 gap-top-900 center-margin">
    {% Img
      className="width-800 gap-bottom-600",
      src="image/foR0vJZKULb5AGJExlazy1xYDgI2/F7jYbCRffHPZ2FcrDQvf.png",
      alt="a sad folder icon",
      height="667",
      width="800"
    %}

    <div class="type stack">
      {{ content | safe }}
    </div>
  </div>
{% endblock %}