{% extends "layouts/base.njk" %}

{% block css %}
{% InlineCss '/css/landing.css' %}
{% endblock %}

{% block content %}
  <div class="landing-container width-full pad-400">
    {{ content | safe }}
  </div>
{% endblock %}
