{#
  This is run for every top-level API namespace, e.g., for "chrome.accessibilityFeatures".
#}

{% extends "layouts/base.njk" %}

{% block title_bar %}
  {% include 'partials/breadcrumbs.njk' %}
{% endblock %}

{% block content %}
  {% import 'macros/render-type.njk' as macros with context %}

  <div class="display-flex">

    <article class="stack measure-long center-margin pad-400">
      <h1 class="type--h2">{{ title }}</h1>
      <p>{{ namespace.comment | safe }}</p>

      {# SECTION: Summary #}
      <h2 class="type--h3">Summary</h2>
      <div class="code-sections code-sections--summary">
        <ul class="stack flow-space-300">
          {% if namespace.types.length %}
            <li>
              <div>Types</div>
              <div>
                {% for type in namespace.types %}
                  <div><a href="#type-{{ type.name }}">{{ type.name }}</a></div>
                {% endfor %}
              </div>
            </li>
          {% endif %}
          {% if namespace.methods.length %}
            <li>
              <div>Methods</div>
              <div>
                {% for method in namespace.methods %}
                  <a href="#method-{{ method.name }}">{{ method.name }}</a>
                  <div class="type--xsmall"><code>{{ method.signature }}</code></div>
                {% endfor %}
              </div>
            </li>
          {% endif %}
        </ul>
      </div>

    {# SECTION: Types #}
    {% if namespace.types.length %}
      <h2 class="type--h3">Types</h2>
      {% for type in namespace.types %}
        {{ macros.renderType(type, namespace.name, 'type') }}
      {% endfor %}
    {% endif %}

    {# SECTION: Methods #}
    {% if namespace.methods.length %}
      <h2 class="type--h3">Methods</h2>
      {% for method in namespace.methods %}
        {{ macros.renderType(method, namespace.name, 'method') }}
      {% endfor %}
    {% endif %}

  </div>
{% endblock %}