{% extends "layouts/base.njk" %}

{#
  Native Client docs rely on the old prettify.js project for syntax
  highlighting.
#}
{% set pageScripts = ['/js/prettify.js'] %}

{% block content %}
  <div class="display-flex">
    <article class="stack measure-long type center-margin width-full gap-top-300 lg:gap-top-400 pad-left-400 pad-right-400">
      {{ content | safe }}
    </article>
  </div>
{% endblock %}