{% extends 'layouts/doc-post.njk' %}
{% from 'macros/icon.njk' import icon with context %}

{% block inner %}
  <div class="grid-columns" style="--grid-col-breakpoint: 28rem; --grid-col-gap: 2rem;">
    {% for card in cards %}
      <section class="stack flow-space-300 hairline rounded-lg pad-300">
        <h2 class="type--h5 display-flex" style="font-weight: 500;">
          {{ icon('document') }}
          <span class="gap-left-200">{{ card.heading }}</span>
        </h2>
        <p class="type--caption">{{ card.copy }}</p>
        <div class="cluster">
          <div>
            {% for link in card.links %}
              <a class="tag-pill surface decoration-none hairline color-secondary-text type--label weight-regular rounded-lg" href="{{ link.href }}">{{ link.text }}</a>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endfor %}
  </div>

  {# {% for card in cards %}
    <div>
      <section class="stack flow-space-300">
        <h2 class="type--h5" style="font-weight: 500;">{{ card.heading }}</h2>
        <p>{{ card.copy }}</p>
        <div class="cluster">
          <div>
            {% for link in card.links %}
              <a class="tag-pill surface decoration-none hairline color-secondary-text type--label weight-regular rounded-lg" href="{{ link.href }}">{{ link.text }}</a>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  {% endfor %} #}

  {{ content | safe }}
{% endblock%}
