{# 
  This page grabs data from _data/docs/${projectName}/toc.yml.
  For each page in the set of links, it fetches the page's frontmatter and
  uses that to render the title and summary for the page.
#}

{% extends "layouts/base.njk" %}

{% set title = project_name %}

{% block content %}
<h1 class="type--h1">{{ project_name }}</h1>
<p class="type">{{ description }}</p>

{# toc defines the table of contents that the project landing page displays. #}
{% set toc = docs[project_key].toc %}


{# Render nested sections. #}
{% import 'macros/project-sections.njk' as macros with context %}
{{ macros.projectSections(toc) }}
{% endblock %}