{% extends "layouts/base.njk" %}

{% block title_bar %}
  {% include 'partials/breadcrumbs.njk' %}
{% endblock %}

{% block content %}
  <div class="display-flex">

    <article class="stack measure-long type center-margin pad-400">
      <h1>{{ title }}</h1>
      <p>Chrome provides extensions with many special-purpose APIs like <code>chrome.runtime</code> and <code>chrome.alarms</code>.

<table class="reference">
  <thead>
    <tr>
      <th>Name</th>
      <th class="reference-collapse">Description</th>
      <th>Since</th>
    </tr>
  </thead>
  <tbody>

{% for namespace in collections.types %}

    <tr>
      <td><a href="{{ namespace.permalink }}">{{ namespace.shortName }}</a></td>
      <td class="reference-collapse">{{ namespace.comment | safe }}</td>
      <td>{{ namespace.release }} </td>
    </tr>

{% endfor %}

  </tbody>
</table>

    </article>
  </div>
{% endblock %}