{% extends "layouts/base.njk" %}

{% block content %}
  {% for key, title in i18n.channels %}

  {% set release = chrome.channels[key] %}

  <h1 class="type--h1">{{ title }}</h1>

  <dl>
    <dt>{{ i18n.release_title }}</dt>
    <dd>{{ release.mstone }}</dd>
    <dt>{{ i18n.stabledate_title }}</dt>
    <dd>{{ release.stable_date }}</dd>
  </dl>

  {% endfor %}
{% endblock %}