{% extends "layouts/base.njk" %}

{% block title_bar %}
  {% set headingBreadcrumb = true %}
  {% include 'partials/breadcrumbs.njk' %}
{% endblock %}

{% block content %}
{% set letterTitle = '' %}

{% macro renderTag(tag) %}
  {%- if tag -%}
    <li>
      <a class="type--h6 color-primary surface" href="{{ helpers.join('/', locale, 'tags', tag.key, '/') }}">{{ tag.title }}</a>
    </li>
  {%- endif -%}
{% endmacro %}

<div class="measure-1280 gap-top-300 lg:gap-top-400 pad-left-400 pad-right-400 center-margin">

  {# TODO: i18n these #}

  <div class="tags-grid tags-grid__header">
    <div class="tag-card">
      <h2 class="type--label color-secondary-text">Releases</h2>
      <ul role="list" class="pad-0 gap-top-300 gap-bottom-0">
        {% for tag in namedChromeReleaseTags %}
          {{ renderTag(tag) }}
        {% endfor %}
      </ul>
    </div>

    {# Option #1: a <details> which opens to show all releases #}
    <div class="tag-card">
      <details>
        <summary class="type--label color-secondary-text">Other</summary>
        <ul role="list" class="pad-0 gap-top-300 gap-bottom-0">
          {% for tag in chromeReleaseTags %}
            {{ renderTag(tag) }}
          {% endfor %}
        </ul>
      </details>
    </div>

    {# Option #2: a <select> which, on change, loads the right page #}
    {# TODO: actually doesn't load yet #}
    <div class="tag-card">
      <h2 class="type--label color-secondary-text">Other</h2>
      <select class="type--label gap-top-300 gap-bottom-300">
        <option>Choose release&hellip;</option>
        <optgroup label="Release">
          {% for tag in chromeReleaseTags %}
            <option value="{{ tag.key }}">{{ tag.title }}</option>
          {% endfor %}
        </option>
      </select>
    </div>

  </div>

  <div class="tags-grid tags-grid__index">

    {% for tag in displayTags %}
      {# Get the current first letter of the tag title #}
      {% set tagLetter = tag.title[0] | capitalize %}

      {# If this is not the first iteration and the letter title and it doesn't match the tag's letter close the div #}
      {% if not loop.first and letterTitle !== tagLetter %}
          </ul>
        </div>
      {% endif %}

      {# If the letter title doesn't match the tag's letter create a new div and set the letter title to the current letter #}
      {% if letterTitle !== tagLetter %}
        {% set letterTitle = tagLetter %}
        <div class="tag-card">
          <h2 class="type--label color-secondary-text"><span class="visually-hidden">Tags that start with: </span>{{ letterTitle }}</h2>
          <ul role="list" class="pad-0 gap-top-300 gap-bottom-0">
      {% endif %}

      {{ renderTag(tag) }}

      {# If this is the last element of our loop close the div #}
      {% if loop.last %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>
{% include 'partials/pagination.njk' %}
{% endblock %}