{# This template only renders the bare minimum HTML skeleton to
allow for easy and quick testing of element existance #}
<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
  </head>
  <body>
    {{ content|safe }}
  </body>
</html>
