$google-colors: (
  'white': #fff,
  'black': #000,
  'blue-900': #174ea6,
  'blue-800': #185abc,
  'blue-700': #1967d2,
  'blue-600': #1a73e8,
  'blue-500': #4285f4,
  'blue-400': #669df6,
  'blue-300': #8ab4f8,
  'blue-200': #aecbfa,
  'blue-100': #d2e3fc,
  'blue-50': #e8f0fe,
  'red-900': #a50e0e,
  'red-800': #b31412,
  'red-700': #c5221f,
  'red-600': #d93025,
  'red-500': #ea4335,
  'red-400': #ee675c,
  'red-300': #f28b82,
  'red-200': #f6aea9,
  'red-100': #fad2cf,
  'red-50': #fce8e6,
  'yellow-900': #e37400,
  'yellow-800': #ea8600,
  'yellow-700': #f29900,
  'yellow-600': #f9ab00,
  'yellow-500': #fbbc04,
  'yellow-400': #fcc934,
  'yellow-300': #fdd663,
  'yellow-200': #fde293,
  'yellow-100': #feefc3,
  'yellow-50': #fef7e0,
  'green-900': #0d652d,
  'green-800': #137333,
  'green-700': #188038,
  'green-600': #1e8e3e,
  'green-500': #34a853,
  'green-400': #5bb974,
  'green-300': #81c995,
  'green-200': #a8dab5,
  'green-100': #ceead6,
  'green-50': #e6f4ea,
  'grey-900': #202124,
  'grey-800': #3c4043,
  'grey-700': #5f6368,
  'grey-600': #80868b,
  'grey-500': #9aa0a6,
  'grey-400': #bdc1c6,
  'grey-300': #dadce0,
  'grey-200': #e8eaed,
  'grey-100': #f1f3f4,
  'grey-50': #f8f9fa,
  'orange-900': #b06000,
  'orange-800': #c26401,
  'orange-700': #d56e0c,
  'orange-600': #e8710a,
  'orange-500': #fa7b17,
  'orange-400': #fa903e,
  'orange-300': #fcad70,
  'orange-200': #fdc69c,
  'orange-100': #fedfc8,
  'orange-50': #feefe3,
  'pink-900': #9c166b,
  'pink-800': #b80672,
  'pink-700': #d01884,
  'pink-600': #e52592,
  'pink-500': #f439a0,
  'pink-400': #ff63b8,
  'pink-300': #ff8bcb,
  'pink-200': #fba9d6,
  'pink-100': #fdcfe8,
  'pink-50': #fde7f3,
  'purple-900': #681da8,
  'purple-800': #7627bb,
  'purple-700': #8430ce,
  'purple-600': #9334e6,
  'purple-500': #a142f4,
  'purple-400': #af5cf7,
  'purple-300': #c58af9,
  'purple-200': #d7aefb,
  'purple-100': #e9d2fd,
  'purple-50': #f3e8fd,
  'cyan-900': #007b83,
  'cyan-800': #098591,
  'cyan-700': #129eaf,
  'cyan-600': #12b5cb,
  'cyan-500': #24c1e0,
  'cyan-400': #4ecde6,
  'cyan-300': #78d9ec,
  'cyan-200': #a1e4f2,
  'cyan-100': #cbf0f8,
  'cyan-50': #e4f7fb,
);
