---
eleventyComputed:
  title: "Browser Compat Image Renderer"
  description: 'Renders the BrowserCompat widget as a image usable on slides.'
authors:
  - mrohmer
---
<p>Use this tool to render a <a href="/docs/handbook/components/#browser-compat">browser compat widget</a> to a static image 
for you to use in presentations, videos and other media.</p>

<p>
  This tool currently supports data included in 
  <a href="https://www.npmjs.com/package/@mdn/browser-compat-data">@mdn/browser-compat-data</a>&nbsp;{{pkg.dependencies['@mdn/browser-compat-data']}} and prior.
</p>

<browser-compat-image-renderer>
  <div class="spinner spinner--big display-flex gap-top-400 center-margin"></div>
</browser-compat-image-renderer>

<!-- A static BrowserCompat widget, otherwise the CSS purging process removes the required styles -->
<div hidden>
  <div class="wdi-browser-compat">
    <ul class="wdi-browser-compat__items">
      <li class="wdi-browser-compat__item">
        <span class="wdi-browser-compat__browser" data-browser="chrome"></span>
        <span class="wdi-browser-compat__version" data-compat="yes">x</span>
      </li>
      <li class="wdi-browser-compat__item">
        <span class="wdi-browser-compat__browser" data-browser="safari"></span>
        <span class="wdi-browser-compat__version" data-compat="no">x</span>
      </li>
      <li class="wdi-browser-compat__item">
        <span class="wdi-browser-compat__browser" data-browser="edge"></span>
        <span class="wdi-browser-compat__version" data-compat="preview">x</span>
      </li>
      <li class="wdi-browser-compat__item">
        <span class="wdi-browser-compat__browser" data-browser="firefox"></span>
        <span class="wdi-browser-compat__version" data-compat="no">x</span>
      </li>
    </ul>
  </div>
</div>