%auto-fit-grid {
  align-items: start;
  display: grid;
  gap: get-size(400);
  grid-template-columns: 1fr;
  justify-items: center;

  @include media-query('md') {
    gap: get-size(500);
    grid-template-columns: repeat(auto-fit, minmax(var(--auto-fit-min, px-to-rem(390px)), 1fr));
  }
}
