---
disable_algolia: true
permalink: "/showcase.json"
---
[
  {% for item in fuguShowcase %}
    {% set html %}
      {% include 'partials/showcase-card.njk' %}
    {% endset %}
    {

      "title": {{ item.title | dump | safe }},
      "usedAPIs": {{ item.usedAPIs | dump | safe }},
      "html": {{ html | minifyHtml | dump | safe }}
    } {% if loop.last === false %},{% endif %}
  {% endfor %}
]
