{#
Renders an author info snippet.
#}
{% macro author(authorId, locale) %}

{% set author = authorsData[authorId] %}

<div class="author display-flex align-start">
  <a class="display-block flex-shrink-none" href="/authors/{{ authorId }}">
    <img class="author__image rounded-full" width="40" height="40" src="{{ author.image }}" alt="{{ author.name.given }} {{ author.name.family }} thumbnail" />
  </a>
  <div class="display-flex direction-column align-start gap-left-300 type--small">
    <a class="color-text surface decoration-none" href="/authors/{{ authorId }}">{{ author.name.given }} {{ author.name.family }}</a>
    <p class="color-secondary-text">{{ author.descriptions[locale] }}</p>
  </div>
</div>

{% endmacro %}