{#
  Renders an author info snippet.
  If there's no data for the author, just renders their ID. This isn't ideal but is better than
  crashing.
#}
{% macro postAuthors(authors, locale) %}

  <div class="display-flex align-start">
    {% for authorId in authors %}
      {% set authorTitle = 'i18n.authors.' + authorId + '.title' %}
      {% set authorImage = authorsData[authorId].image or site.defaultAvatarImg %}
      {% if authorImage %}
        <a href="/authors/{{authorId}}/" translate="no" class="post-authors__image">
          {% Img
            class="flex-shrink-none width-750 height-750",
            src=authorImage,
            alt=authorTitle | i18n(locale),
            width="50",
            height="50",
            options={minWidth: 50, maxWidth: 120}
          %}
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <div class="gap-top-200">
    <p class="type--small">
      By
      {% set sep = joiner(', ') %}
      {%- for authorId in authors -%}
        {%- if loop.last -%}
            {{- ' and ' -}}
        {%- else -%}
            {{- sep() -}}
        {%- endif -%}
        {%- if authorsData[authorId] -%}
          {% set authorTitle = 'i18n.authors.' + authorId + '.title' %}
          {% set authorImage = authorsData[authorId].image or site.avatarPlaceholderImg %}
          <a href="/authors/{{authorId}}/" translate="no" class="display-inline-flex color-text decoration-underline">{{ authorTitle | i18n(locale) }}</a>
        {%- else -%}
          {{ authorId }}
        {%- endif -%}
      {%- endfor -%}
    </p>
  </div>

{% endmacro %}
