{% from 'macros/icon.njk' import icon with context %}

{#
Finds a post by its url (including language specific urls).
Returns a link to the post and uses the post's title for link text.

This will recursively keep outputting links depending on how many sections
have been defined in the _data/docs/*.yml file for this project.
#}
{% macro projectSections(sections, previousType) %}

{% set type = 'row' %}
{% if previousType === 'row' %}
  {% set type = 'column' %}
{% elif previousType === 'column' %}
  {% set type = 'nested-column' %}
{% endif %}

<ul class="project-sections__{{type}} stack flow-space-300 pad-left-0" role="list">
  {% for item in sections %}
    {% if item.sections %}
      <li>
        <div>{{ item.title | i18n(locale) }}</div>
        {{ projectSections(item.sections, type) }}
      </li>
    {% elif item.url %}
      {% set post = helpers.findByUrl(collections.all, item.url, locale) %}
      {% if post %}
        <li>
          <div>
            {% if type === 'column' %}
              {{ icon('document') }}
            {% endif %}
            <a class="project-sections__link color-primary-shade decoration-none surface" href="{{ post.url }}">{{ post.data.title }}</a>
          </div>
          {% if type !== 'nested-column' %}
            <div class="project-sections__description measure-long">{{ post.data.description }}</div>
          {% endif %}
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

{% endmacro %}