{% macro projectIcon(project_key) %}
  <div class="project-icon">
    {% set styles = docs[project_key].styles %}
    {% set color = styles.project_icon_color %}
    <div class="project-icon__cover"{% if color %} style="color: var(--{{color}})"{% endif %}>
      {% set svg -%}
        {% include '../../_static/images/project/' + project_key + '.svg' ignore missing %}
      {%- endset %}
      {{ svg | updateSvgForInclude | safe }}
    </div>
  </div>
{% endmacro %}
