
{#
  Renders a table of types based on a given channel filter.
#}
{% macro renderReferenceTable(all, channel, source) %}

<table class="reference fixed-table width-full">
  <thead>
    <tr>
      <th>Name</th>
      <th class="reference-collapse">Description</th>
    </tr>
  </thead>
  <tbody>

  {% for page in all %}
    {% if page.data.namespace %}
      {% set namespace = page.data.namespace %}
      {% if (not channel or channel === namespace.channel) and (not source or source === namespace.source) %}
        <tr>
          <td>
            <a class="link weight-medium" href="{{ namespace.fullName | namespaceToPath }}">{{ namespace.name }}</a>
            <div class="reference-requirements">
              {% if not channel and namespace.channel === 'dev' %}
                <span>Dev channel</span>
              {% elif not channel and namespace.channel === 'beta' %}
                <span>Beta and Dev channels</span>
              {% elif namespace.version.low %}
                <span>Chrome {{ namespace.version.low }}</span>
              {% endif %}
              {% if namespace.maxManifestVersion %}
                <span>
                  MV{{ namespace.maxManifestVersion }}
                  {% if namespace.maxManifestVersion === 2 %}
                    {# Nothing is actually before MV2. #}
                  {% else %}
                    and below
                  {% endif %}
                </span>
              {% endif %}
              {% if namespace.minManifestVersion %}
                <span>MV{{ namespace.minManifestVersion }}+</span>
              {% endif %}
            </div>
          </td>
          <td class="reference-collapse type">{{ namespace.comment | safe }}</td>
        </tr>
      {% endif %}
    {% endif %}
  {% endfor %}

  </tbody>
</table>

{% endmacro %}