
{% import 'macros/render-type.njk' as macros with context %}

{#
  Renders a table of types based on a given channel filter.
#}
{% macro renderReferenceTable(all, channel, platformAppsOnly = undefined) %}

<table class="reference fixed-table width-full">
  <thead>
    <tr>
      <th>Name</th>
      <th class="reference-collapse">Description</th>
    </tr>
  </thead>
  <tbody>

  {% for page in all %}
    {% set namespace = page.data.namespace %}
    {% set f = namespace._feature %}

    {% if (not channel or channel === f.channel) and (platformAppsOnly === f.platformAppsOnly) %}
      <tr>
        <td>
          {% set namespacePath = namespace._name | namespaceToPath %}
          <a class="link weight-medium" href="{{ namespacePath }}">
            {{ namespacePath.replace('_', '.') }}
          </a>
        </td>
        <td class="reference-collapse type">
          {% set availabilityHtml %}{{ macros.renderAvailabilityFeature(f) }}{% endset %}
          {% if availabilityHtml | trim %}
            <div class="pad-bottom-300">{{ availabilityHtml | safe }}</div>
          {% endif %}
          {{ namespace.comment.shortText | md | safe }}
        </td>
      </tr>
    {% endif %}
  {% endfor %}

  </tbody>
</table>

{% endmacro %}