
{#
  Top-level rendering of a model.Property.
#}
{% macro renderTopProperty(prop) %}

  {% set type = prop.type %}

{# Render the function signature. #}
{% if type.key === 'function' %}
  {{ renderTypeSignature(prop) }}
{% elif type.key === 'ref' and type.name === 'events.Event' %}
  {% if type.templates[0].name === 'void' %}
    {# TODO: This is a declarative event listener. #}
  {% else %}
    {# This isn't really part of the type but we show users how to add a listener. #}
    <div class="code-sections__signature">
      <code>
        {{ prop.name }}.addListener(listener: <span class="code-sections__signature-type">function</span>)
      </code>
    </div>
  {% endif %}
{% endif %}

<div class="type stack code-sections__description">
  {{ renderComment(prop) }}
</div>

{{ renderTopType(type, prop) }}

{% endmacro %}


{#
  Top-level rendering of a model.Type. This is needed as we recurse for union types.
#}
{% macro renderTopType(type, prop) %}

  {% if not type %}
    {# TODO #}

  {% elif prop.isType and type.key === 'choices' %}
    {# Type that contains many string (probably) options, basically an enum. #}

    <div class="code-sections">
      <h4 class="type--label case-upper">Enum</h4>

      <div class="code-sections__overline code-sections__label">
        <p>
          {% for choiceType in spec.choices %}
            {% if loop.last and not loop.first %}or{% endif %}
            {{ renderSingleType(choiceType) }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </p>
      </div>
    </div>

  {% elif type.key === 'function' %}
    {# Top-level namespace function. #}

    {% if type.isReturnsAsync %}
      {{ renderOptionalParametersSection(type.parametersForAsync, 'Parameters') }}

      <div class="code-sections">
        <h4 class="type--label case-upper">Result</h4>

        <ul class="stack flow-space-300">
          <li class="stack">
            <div>
              <div class="code-sections__label">return/callback</div>
              <div class="type--xsmall code-sections__icon code-sections__icon--function">async</span></div>
            </div>

            {% set returnParameters = type.callbackForAsync.type.parameters %}

            <div class="type stack">
              {{ renderComment(type.returnProperty) }}
              <p>
                This callback may be specified as a callback or returned as a <code>Promise</code> (MV3 only).
                {% if not returnParameters.length %}
                  It takes no parameters.
                {% endif %}
              </p>
            </div>

            {{ renderOptionalParametersSection(returnParameters )}}
          </li>
        </ul>
      </div>

    {% else %}
      {% if type.parameters.length %}
        <div class="code-sections">
          <h4 class="type--label case-upper">Parameters</h4>

          <ul class="stack flow-space-300">
            {% for parameter in type.parameters %}
              {{ internalRenderParameter(parameter) }}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if type.returnProperty and type.returnType.primitiveType !== 'void' %}
        <div class="code-sections">
          <h4 class="type--label case-upper">Returns</h4>

          <ul class="stack flow-space-300">
            {{ internalRenderParameter(type.returnProperty) }}
          </ul>
        </div>
      {% endif %}
    {% endif %}

  {% elif type.key === 'ref' and type.name === 'events.Event' %}
    {# Top-level event variable. #}

    {% if type.templates[0].name === 'void' %}
      {# TODO: This is a declarative event listener. #}
    {% else %}
      <div class="code-sections">
        <h4 class="type--label case-upper">Event</h4>
        <ul class="stack flow-space-300">
          {{ internalRenderListenerAsItem(type.templates[0]) }}
        </ul>
      </div>
    {% endif %}

  {% elif type.key === 'literal' %}
    {# Top-level literal number or string. #}
    <div class="code-sections">
      <h4 class="type--label case-upper">Value</h4>

      <div class="code-sections__overline code-sections__label">
        {{ renderSingleType(type, prop) }}
      </div>
    </div>

  {% elif type.key === 'union' and not prop.isType %}
    {# Union of many things as a non-type. #}

    {% for type in type.types %}
      {{ renderTopType(type, prop) }}
    {% endfor %}

  {% elif type.key === 'object' %}
    {# Object with properties. #}

    {% if type.properties | length %}
      <div class="code-sections">
        <h4 class="type--label case-upper">Properties</h4>

        <ul class="stack flow-space-300">
          {% for name, prop in type.properties | dictsort %}
            {{ internalRenderParameter(prop) }}
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  {% else %}
    {# Some other kind of type. #}

    <div class="code-sections">
      <h4 class="type--label case-upper">Type</h4>

      <div class="code-sections__overline code-sections__label">
        {{ renderSingleType(type, prop) }}
      </div>
    </div>

  {% endif %}

{% endmacro %}

{#
  Renders an optional list of parameters.
#}
{% macro renderOptionalParametersSection(parameters, label) %}

  {% if parameters.length %}
    <div class="code-sections">
      {% if label %}
        <h4 class="type--label case-upper">{{ label }}</h4>
      {% endif %}

      <ul class="stack flow-space-300">
        {% for parameter in parameters %}
          {{ internalRenderParameter(parameter) }}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

{% endmacro %}

{#
  Renders a comment, its optional version information and deprecation notice.
#}
{% macro renderComment(prop) %}
  {% set feature = prop.feature %}

  {% if feature.unknownVersion %}
    <p class="code-sections__deprecated">This API is in active development.</p>
  {% endif %}
  {% if feature.availableFromVersion %}
    <p class="code-sections__deprecated">Since Chrome {{ feature.availableFromVersion }}.</p>
  {% endif %}
  {% if prop.deprecated !== undefined or feature.deprecatedSinceVersion %}
    <p class="code-sections__deprecated">
      <strong>
        Deprecated
        {%- if feature.deprecatedSinceVersion %}
          since Chrome {{ feature.deprecatedSinceVersion }}
        {%- endif -%}
      </strong>.
      {{ prop.deprecated | mdInline | safe }}
    </p>
  {% endif %}
  {{ prop.description | md | safe }}
{% endmacro %}

{#
  Renders a <li> based on a callback/listener model.FunctionType. Used by events on top-level and
  as part of interfaces.
#}
{% macro internalRenderListenerAsItem(listenerType, name = 'listener') %}
  <li class="stack">
    <div>
      <div class="code-sections__label">{{ name }}</div>
      <div class="type--xsmall code-sections__icon code-sections__icon--function">function</span></div>
    </div>

    <div class="type stack">
      <p>
        The {{ name }} parameter should be a function that looks like this:
      </p>
    </div>

    <div class="code-sections__callback type--xsmall"><code>{{ renderFunctionParameters(listenerType.parameters) }} => {...}</code></div>

    {{ renderOptionalParametersSection(listenerType.parameters) }}
  </li>
{% endmacro %}

{#
  Renders a <li> with the type's name and description. This is used for parts of a top-level type.
#}
{% macro internalRenderParameter(prop) %}
  {% set type = prop.type %}

<li class="stack">
  <div>
    <div class="code-sections__label">{{ prop.name }}</div>
    <div class="type--xsmall">{{ renderSingleType(prop.type, prop) }}</div>
  </div>

{% set description %}
  {{ renderComment(prop) }}

  {% if type.key === 'function' and (prop.name === 'callback' or prop.name === 'listener') %}
    {# This is a callback or a listener. Tell the user how to specify it. #}
    <p>
      {% if prop.optional %}
        If you specify the {{ spec.name }} parameter, it
      {% else %}
        The {{ spec.name }} parameter
      {% endif %}
      should be a function that looks like this:
    </p>
    {% set functionPart %}
      {{ renderFunctionParameters(type.parameters) }} => {...}
    {% endset %}
  {% elif type.key === 'function' %}
    {# This is a function, often given to the user. It's ambiguous how it will
       be called, so just show its signature. #}
    <p>
      The {{ prop.name }} function looks like this:
    </p>
    {% set functionPart %}
      {{ prop.name }}{{ renderFunctionParameters(type.parameters) }} => {...}
    {% endset %}
  {% endif %}
{% endset %}

{% set description = description | trim %}
{% if description %}
  <div class="type stack code-sections__description">{{ description | safe }}</div>
{% endif %}

{% if functionPart %}
  <div class="code-sections__callback type--xsmall"><code>{{ functionPart | safe }}</code></div>
{% endif %}

{# OPTION: array #}
{% if type.key === 'sequence' %}
  {# Render further information about the contained type. #}
  {% set type = type.itemType %}
{% endif %}

{# OPTION: type (class) or object (property) #}
{% if type.key === 'object' %}
  {% if type.properties | length %}
    <div class="code-sections">
      <ul class="stack flow-space-300">
        {% for name, prop in type.properties | dictsort %}
          {{ internalRenderParameter(prop) }}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

{# OPTION: function #}
{% elif type.key === 'function' %}
  {% if type.parameters.length or type.returnType.primitiveType !== 'void' %}
    <div class="code-sections">
      <ul class="stack flow-space-300">
        {% for parameter in type.parameters %}
          {{ internalRenderParameter(parameter) }}
        {% endfor %}
        {% if type.returnType.primitiveType !== 'void' %}
          {{ internalRenderParameter(type.returnProperty) }}
        {% endif %}
      </ul>
    </div>
  {% endif %}

{# OPTION: event #}
{% elif type.key === 'ref' and type.name === 'events.Event' %}
  <div class="code-sections">
    <ul class="stack flow-space-300">
      {{ internalRenderListenerAsItem(type.templates[0]) }}
    </ul>
  </div>

{% endif %}

</li>
{% endmacro %}

{#
  Renders a single model.Type as a single word. Used for signatures and type hints.

  If outerProp is non-null, shows a hint icon, because it's the left-most type inside a table view.
#}
{% macro renderSingleType(type, outerProp) %}
  {% set iconType = type.key %}

  {% set stringType %}
    {% if not type %}
      {# Should never happen #}
      ?

    {% elif type.key === 'primitive' %}
      {# Primitive type, e.g. "number" or "void" #}
      {% set iconType = type.primitiveType %}
      {{ type.primitiveType }}

    {% elif type.key === 'literal' %}
      {# Literal value, e.g., 123 or '"foo"' #}
      <span class="code-sections__value">{{ type.value }}</span>

    {% elif type.key === 'ref' %}
      {# Reference to another type (internal or external) #}
      {# TODO: add links for internal types #}

      {% set iconType = 'object' %}
      {{ type.name }}

      {%- if type.templates.length -%}
        &lt;
          {%- for t in type.templates -%}
            {{ renderSingleType(t) | trim }}
          {%- endfor -%}
        &gt;
      {% endif %}

    {% elif type.key === 'sequence' %}
      {# An array of something else. #}
      {{ renderSingleType(type.itemType) | trim }}[]

    {% elif type.key === 'choices' %}
      {# An number of choices. #}
      {%- for t in type.choices -%}
        {{ renderSingleType(t) | trim }}{%- if not loop.last %} | {% endif -%}
      {%- endfor -%}

    {% else %}
      {# TODO: This doesn't make sense for many types. #}
      {{ type.key }}
    {% endif %}

  {% endset %}

  {# Note that we avoid whitespace below, and instead set margins in CSS. #}
  {% if outerProp %}
    <div class="code-sections__icon code-sections__icon--{{ iconType }}">{{ stringType | safe | trim }}
      {%- if outerProp.optional -%}
        &nbsp;<span class="code-sections__optional">optional</span>
      {% endif %}
    </div>
  {% else %}
    <span>{{ stringType | safe | trim }}</span>
  {% endif %}

{% endmacro %}

{#
  If the passed model.Property is a function, then render its full signature. Does nothing otherwise.
#}
{% macro renderTypeSignature(prop) %}

  {% if prop.type.key === 'function' %}
    {% set type = prop.type %}
    <div class="code-sections__signature">
      {% if type.isReturnsAsync %}
        <code>
          {{ prop.name }}{{ renderFunctionParameters(type.parametersForAsync) }}:
          {{ renderSingleType(type.returnTypeForAsync) }}
        </code><br />
      {% endif %}
      <code>
        {{ prop.name }}{{ renderFunctionParameters(type.parameters) }}:
        {{ renderSingleType(type.returnType) }}
      </code>
    </div>
  {% endif %}

{% endmacro %}

{#
  Renders the arguments of a method including ()'s. This is an array of model.Property.
#}
{% macro renderFunctionParameters(parameters) -%}
  (
    {%- for parameter in parameters -%}
      {{ parameter.name }}{% if parameter.optional %}?{% endif %}:
      <span class="code-sections__signature-type">{{ renderSingleType(parameter.type) | trim }}</span>
      {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
  )
{%- endmacro %}

{#
  Renders a short summary of the passed list of Property objects. Used at the top of a namespace
  page for different sections (types, events, etc).
#}
{% macro renderSummarySection(namespaceName, label, prefix, array) %}

  {% if array.length %}
    <li>
      <div class="code-sections__label">{{ label }}</div>
      <div>
        {% for prop in array %}
          <div><a href="#{{ prefix }}-{{ prop.name }}" class="link weight-medium">{{ prop.name }}</a></div>
          {{ renderTypeSignature(prop) }}
        {% endfor %}
      </div>
    </li>
  {% endif %}

{% endmacro %}

{#
  Renders the whole list of the passed RenderType[].
#}
{% macro renderPrimarySection(namespaceName, id, label, prefix, array) %}

  {% if array.length %}
    <h2 class="type--h3" id="{{ id }}">{{ label }}</h2>
    {% for prop in array %}
      <div>
        <h3 class="type--h4" id="{{ prefix }}-{{ prop.name }}">{{ prop.name }}</h3>
        {{ renderTopProperty(prop, true) }}
      </div>
    {% endfor %}
  {% endif %}

{% endmacro %}
