<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>{% include item %}</style>
      {% endfor %}
    {% endif %}

    {# Add facility for pages to declare an array of stylesheet paths #}
    {# {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ global.hashAsset(item) }}" onload="this.media='all'" />
      {% endfor %}
    {% endif %} #}

    <link rel="stylesheet" media="print" href="{{ global.hashAsset('/css/app.css') }}" onload="this.media='all'" />
  </head>
  <body>
    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>