{% block content %}
<section class="footer footer-top-section display-flex direction-column justify-content-center">
  <img src="/images/project/no-internet.svg" alt="No internet logo" class="no-internet-logo">
  <div class="text-align-center footer-description gap-top-500">
    <div class="footer-subheading">#100CoolWebMoments</div>
    <p class="footer-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="display-flex justify-content-center gap-top-400">
    <img src="/images/project/share.svg" alt="Share logo" class="gap-right-200 share-logo">
    <p class="share-text">Share</p>
  </div>
  <div class="back-to-top display-flex direction-column justify-content-center">
    <a href="#back-to-top" class="center-margin">
      <img src="/images/project/back-to-top.svg" alt="Back to top logo" class="back-to-logo">
    </a>
    <p class="text-align-center">BACK TO TOP</p>
  </div>
</section>

{% endblock %}
