{% from 'macros/icon.njk' import icon with context %}


<div class="deprecation-calendar__rows">
    <div class="deprecation-calendar__row deprecation-calendar__header">
        <div>Removal date</div>
        <div>Name</div>
        <div>Chrome version</div>
        <div>Article</div>
    </div>
    {% for i in range(50) %}
    <div class="deprecation-calendar__row">
        <div>2023-05-02</div>
        <div><a href='developers.chrome.com'>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</a></div>
        <div><a href='developers.chrome.com'>113</a></div>
        <div><a href='developers.chrome.com'>{{ icon('articles') }}</a></div>
    </div>
    {% endfor %}
</div>