{% from 'macros/icon.njk' import icon with context %}


<div class="deprecations-calendar__rows">
    <div class="deprecations-calendar__row deprecations-calendar__header">
        <div>{{ 'i18n.deprecation_calendar.removal_date' | i18n(locale) }}</div>
        <div>{{ 'i18n.deprecation_calendar.name' | i18n(locale) }}</div>
        <div>{{ 'i18n.deprecation_calendar.chrome_version' | i18n(locale) }}</div>
        <div>{{ 'i18n.deprecation_calendar.article' | i18n(locale) }}</div>
    </div>
    {% for i in range(50) %}
    <div class="deprecations-calendar__row">
        <div><span class='deprecations-calendar__mobile-label'>Removal date</span>2023-05-02</div>
        <div><a href='https://chromestatus.com/feature/5203057325899776' class='link no-visited'>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</a></div>
        <div><span class='deprecations-calendar__mobile-label'>Chrome version</span><a href='https://chrome-status-lite.deno.dev/?version=113' class='link no-visited'>113</a></div>
        <div><a href='https://developers.chrome.com'  class='deprecations-calendar__article link no-visited'>{{ icon('articles') }}<span class='deprecations-calendar__mobile-label'>Read article</span></a></div>
    </div>
    {% endfor %}
</div>