<div class="deprecation-calendar__items">
    <div class="deprecation-calendar__header">
        <div>Removal Date<div>
        <div>Name</div>
        <div>Chrome Version</div>
        <div>Article</div>
    </div>
    <div class="deprecation-calendar__item">
        <div>2023-05-02<div>
        <div>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</div>
        <div>113</div>
        <div>Article</div>
    </div>
    <div class="deprecation-calendar__item">
        <div>2023-05-02<div>
        <div>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</div>
        <div>113</div>
        <div>Article</div>
    </div>
   <div class="deprecation-calendar__item">
        <div>2023-05-02<div>
        <div>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</div>
        <div>113</div>
        <div>Article</div>
    </div>
    <div class="deprecation-calendar__item">
        <div>2023-05-02<div>
        <div>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</div>
        <div>113</div>
        <div>Article</div>
    </div>
    <div class="deprecation-calendar__item">
        <div>2023-05-02<div>
        <div>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</div>
        <div>113</div>
        <div>Article</div>
    </div>
    <div class="deprecation-calendar__item">
        <div>2023-05-02<div>
        <div>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</div>
        <div>113</div>
        <div>Article</div>
    </div>
   <div class="deprecation-calendar__item">
        <div>2023-05-02<div>
        <div>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</div>
        <div>113</div>
        <div>Article</div>
    </div>
    <div class="deprecation-calendar__item">
        <div>2023-05-02<div>
        <div>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</div>
        <div>113</div>
        <div>Article</div>
    </div>
    <div class="deprecation-calendar__item">
        <div>2023-05-02<div>
        <div>Secure Payment Confirmation: Rename rp --> rpId in CollectedClientAdditionalPaymentData</div>
        <div>113</div>
        <div>Article</div>
    </div>
</div>