{% from 'macros/icon.njk' import icon with context %}
<div class="filters align-center">
  <span class="color-secondary-text">
    {{ 'i18n.filter_sheet.filter_by' | i18n(locale) }}:
  </span>
  <enhanced-select id="removal-date" class="deprecations-filter gap-right-300" label="{{ 'i18n.deprecations_calendar.removal_date' | i18n(locale) }}" fixedLabel multiple>
    <select name="removal-date">
      <option value="7">{{ 'i18n.deprecations_calendar.next_7_days' | i18n(locale) }}</option>
      <option value="30">{{ 'i18n.deprecations_calendar.next_30_days' | i18n(locale) }}</option>
      <option value="90">{{ 'i18n.deprecations_calendar.next_90_days' | i18n(locale) }}</option>
      <option value="180">{{ 'i18n.deprecations_calendar.next_6_months' | i18n(locale) }}</option>
      <option value="365">{{ 'i18n.deprecations_calendar.next_12_months' | i18n(locale) }}</option>
    </select>
  </enhanced-select>
  <enhanced-select id="chrome-version" class="deprecations-filter gap-right-300" label="{{ 'i18n.deprecations_calendar.chrome_version' | i18n(locale) }}" fixedLabel multiple>
    <select name="chrome-version" >
      {% for i in range(110, 130) -%}
        <option value="chrome-{{ i }}">Chrome {{ i }}</option>
      {% endfor %}
    </select>
  </enhanced-select>
</div>

<filter-modal>
  <div class="filter-modal align-center">
    <dialog id="filter-modal" class="scrollbar lg:display-none filter-modal__dialog">
      <div class="filter-sheet display-flex direction-column">
        <p class="filter-sheet__title type--xsmall weight-medium case-upper">
          {{ 'i18n.filter_sheet.filter_by' | i18n(locale) }}:
        </p>
        <div class="filter-sheet__filters">
          <section class="gap-bottom-500">
            <p class="type--h5 weight-medium gap-bottom-200">{{ 'i18n.deprecations_calendar.removal_date' | i18n(locale) }}</p>
            <checkbox-group show="5" i18n='{"select_all":"{{ "i18n.filter_sheet.select_all" | i18n(locale) }}", "reset":"{{ "i18n.filter_sheet.reset" | i18n(locale) }}"}'>
              <label>
                <input type="checkbox" name="removal-date" value="7"/>
                {{ 'i18n.deprecations_calendar.next_7_days' | i18n(locale) }}
              </label>
              <label>
                <input type="checkbox" name="removal-date" value="30"/>
                {{ 'i18n.deprecations_calendar.next_30_days' | i18n(locale) }}
              </label>
              <label>
                <input type="checkbox" name="removal-date" value="90"/>
                {{ 'i18n.deprecations_calendar.next_90_days' | i18n(locale) }}
              </label>
              <label>
                <input type="checkbox" name="removal-date" value="180"/>
                {{ 'i18n.deprecations_calendar.next_6_months' | i18n(locale) }}
              </label>
              <label>
                <input type="checkbox" name="removal-date" value="365"/>
                {{ 'i18n.deprecations_calendar.next_12_months' | i18n(locale) }}
              </label>
            </checkbox-group>
          </section>
          <section class="gap-bottom-500">
            <p class="type--h5 weight-medium gap-bottom-200">{{ 'i18n.deprecations_calendar.chrome_version' | i18n(locale) }}</p>
           <checkbox-group show="7" i18n='{"select_all":"{{ "i18n.filter_sheet.select_all" | i18n(locale) }}", "reset":"{{ "i18n.filter_sheet.reset" | i18n(locale) }}"}'>
              {% for i in range(110, 130) -%}
                <label>
                  <input type="checkbox" name="chrome-version" value="chrome-{{ i }}"/> Chrome {{ i }}
                </label>
              {% endfor %}
            </checkbox-group>
          </section>
        </div>
        <div class="filter-sheet__buttons display-flex align-center justify-content-end">
          <button id="filter-modal__reset" class="material-button button-filled color-primary bg-white">
            {{ 'i18n.filter_sheet.reset_filters' | i18n(locale) }}
          </button>
          <button id="filter-modal__done" class="material-button button-filled color-bg bg-primary">
            {{ 'i18n.filter_sheet.done' | i18n(locale) }}
          </button>
        </div>
      </div>
    </dialog>
  </div>

  <div class="filter-modal__selected display-flex flex-flow-row-wrap grid-gap-100">
    <span
      class="filter-modal__opener surface color-blue-medium hairline rounded-lg tag-pill">
      {{ icon('filters') }}{{ 'i18n.filter_sheet.filters' | i18n(locale) }}
    </span>
    <span class="clear-filters tag-pill surface color-blue-medium hairline type--label display-inline-flex align-center" hidden>{{ 'i18n.filter_sheet.clear_filters' | i18n(locale) }}</span>
    <tag-pill-list id="active-filters"></tag-pill-list>
  </div>
</filter-modal>