<div class="events-hero">
  <div class="events-hero__image">
    {% Img src="image/fuiz5I8Iv7bV8YbrK2PKiY3Vask2/oYQa3uZg4zh15ZIZsyFz.png", alt="Events", width="806", height="403", loading="eager" %}
    <span>FPO</span>
  </div>

  <div>
    <h1 class="type--h1">Events Page</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis nunc a molestie dictum.</p>
  </div>
</div>
