<div class="events-hero">
  <figure class="events-hero__image">
    {% Img src=hero, alt=alt, width="800", height="400", loading="eager" %}
  </figure>

  <div class="events-hero__content">
    <h1 class="type--h1">
      <span>{{ 'i18n.events.meet_the' | i18n(locale) }}</span>
      <span>{{ 'i18n.events.chrome_team' | i18n(locale) }}</span>
    </h1>

    <p>{{ 'i18n.events.intro' | i18n(locale) }}</p>
  </div>
</div>
