<div class="events-hero">
  <div class="events-hero__image">
    {% Img src="image/fuiz5I8Iv7bV8YbrK2PKiY3Vask2/oYQa3uZg4zh15ZIZsyFz.png", alt="Events", width="806", height="403", loading="eager" %}
    <span>FPO</span>
  </div>

  <div>
    <h1 class="type--h1">
      <span>Meet the</span>
      <span>Chrome team</span>
    </h1>

    <p>We're meeting you where you are. Join us at upcoming web conferences in your region or catch up with the content shared at past events.</p>
  </div>
</div>
