<header>
  <nav class="top-nav" aria-label="Home and search">
    {# Hamburger button #}
    <button>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
    </button>

    {# Logo #}
    <a class="display-flex align-center" href="/" aria-label="developers.chrome.com">
      <img src="/images/logo.svg" alt="">
      <div>Chrome Developers</div>
    </a>

    {# Search #}
    <input type="search" placeholder="Search docs, blogs and more">

    {# Language picker #}
    <select aria-label="Language">
      <option value="">English</option>
    </select>
  </nav>
</header>