<div class="aside aside--warning">
  Deprecation of the technologies described here has been announced
  for platforms other than ChromeOS.

  Please visit our <a href="/docs/native-client/migration">migration guide</a> for details.
</div>