{#
  For temporary notices that wont't be around long enough to translate.
  Differs from banner.njk by not being able to be dismissed, and being applied via URL instead of frontmatter metadata.
#}

{% if '/docs/lighthouse/overview' in page.url or page.url == '/en/docs/lighthouse/' %}
  <div class="aside aside--warning">
    Getting NO_SCREENSHOT errors? Some pages run under Chrome 118 will get this error. See <a target=_blank href="https://github.com/GoogleChrome/lighthouse/issues/15460#issuecomment-1775760096">this Github issue</a> for details and workarounds.
  </div>
{% endif %}

{% if '/docs/devtools/performance/' in page.url or '/docs/devtools/recorder/' in page.url %}
  <div class="aside aside--warning">
    Chrome 118 results in <a target=_blank href="https://bugs.chromium.org/p/chromium/issues/detail?id=1483420">missing screenshots</a> for some performance traces. Until Chrome 119 releases to stable Oct 31st, a workaround is to use <a target=_blank href="https://www.google.com/chrome/canary/">Chrome Canary</a>.
  </div>
{% endif %}
