{% from 'macros/icon.njk' import icon with context %}

{# If an alias exists for a pagination element use the pagination navigation.
This would typically exist for a collections that has went through the `add-pagination`
function used to allow pagination to handle multi-dimensional arrays. This is used in the
`tags` collection to generate paginated pages for all the tags. #}
{% if paged %}
  {% set paginationObject = paged.pagination %}
{# If no alias exists and we aren't using the `add-pagination` function use the pagination
element for the pagination (stock) navigation #}
{% else %}
  {% set paginationObject = pagination %}
{% endif %}

{% if paginationObject.href.previous or paginationObject.href.next %}
<nav class="pagination gap-top-300 pad-left-400 pad-right-400">
  <a class="pagination__button type--small" {% if paginationObject.href.previous %} href="{{ paginationObject.href.previous }}" {% endif %}>
    {{ icon('arrow-back') }}
    <span>{{ 'i18n.common.newer_posts' | i18n(locale) }}</span>
  </a>
  <a class="pagination__button type--small" {% if paginationObject.href.next %} href="{{ paginationObject.href.next }}" {% endif %}>
    <span>{{ 'i18n.common.older_posts' | i18n(locale) }}</span>
    {{ icon('arrow-forward') }}
  </a>
</nav>
{% endif %}
