{% set contentItems = null %}

{% if type === 'article' %}
  {% set collectionName = 'articles-' + locale %}
{% endif %}

{% if type === 'blogPost' %}
  {% set collectionName = 'blog-' + locale %}
{% endif %}

{% if collections[collectionName] %}
  {% set previousPost = collections[collectionName]  | getPreviousCollectionItem(page) %}
  {% set nextPost = collections[collectionName]  | getNextCollectionItem(page) %}
{% endif %}

<div class="post-navigation">
  <a href="{{ previousPost.url }}" class="post-navigation__link">
    <div class="post-navigation__prev">
      {% if previousPost %}
        <span class="post-navigation__label">{{ 'i18n.common.back' | i18n(locale) }}</span>
        <p class="post-navigation__title">{{previousPost.data.title}}</p>
      {% endif %}
    </div>
  </a>
  <a href="{{ nextPost.url }}" class="post-navigation__link">
    <div class="post-navigation__next" class="post-navigation__link">
      {% if nextPost %}
        <span class="post-navigation__label">{{ 'i18n.common.next' | i18n(locale) }}</span>
        <p class="post-navigation__title">{{nextPost.data.title}}</p>
      {% endif %}
    </div>
  </a>
</div>