<div class="post-navigation">
    <div class="post-navigation__prev">
      <a href="{{ prev.url }}" class="post-navigation__link">Previous</a>
      <p>SPA view transitions land in Chrome 111</p>
    </div>
   <div class="post-navigation__next">
      <a href="{{ next.url }}" class="post-navigation__link">Next</a>
      <p>Improving user privacy by requiring opt-in to send X-Requested-With header from WebView</p>
    </div>
</div>