{% from "macros/post-author.njk" import postAuthor with context %}

{% if authors | length > 2%}
  <div class="condensed-post-authors">
    {% for item in authors %}
      {{ postAuthor(item, locale) }}
    {% endfor %}
  </div>
{% else %}
  <div class="post-authors">
    {% for item in authors %}
      {{ postAuthor(item, locale) }}
    {% endfor %}
  </div>
{% endif %}