<h1 class="type--h2">{{ title }}</h1>

{% if subhead %}
<p class="type--h5">{{ subhead }}</p>
{% endif %}

{% if date %}
<div class="dates">
  <p class="type--caption">
    Published on <time>{{ helpers.formatDateLong(date, locale) }}</time>
  {% if updated %}
    <span>•</span>
    Updated on <time>{{ helpers.formatDateLong(updated, locale) }}</time>
  {% endif %}
  </p>
</div>
{% endif %}