<h1 class="type--h2">{{ title }}</h1>

{% if subhead %}
<p class="type--h5">{{ subhead }}</p>
{% endif %}

{% if date %}
  <p class="type--caption color-secondary-text">
    Published on <time>{{ helpers.formatDateLong(date, locale) }}</time>
    {% if updated %}
    <span>•</span>
    Updated on <time>{{ helpers.formatDateLong(updated, locale) }}</time>
  {% endif %}
  </p>
{% endif %}

{% set languageListHtml %}{% LanguageList page.url, site, collections, locale %}{% endset %}
{% if languageListHtml %}
<p class="type--caption color-secondary-text">
  {{ languageListHtml | safe }}
</p>
{% endif %}
