<div class="post-banner">
  {% set material_url = helpers.findByUrl(collections.all, new_material, locale) %}
  This content is outdated and no longer accurate. {% if material_url %}<a href={{ material_url.url }}>New material available</a>.{% endif %}
</div>
