<div class="featured-card bg-green-lighter rounded-lg width-full pad-300 md:pad-400">
  <div class="featured-card__title-bar color-green-darkest display-flex align-center">
    {% include 'icons/docs.svg' %}
    <span class="gap-left-300 flex-1 user-select-none">Docs</span>
  </div>

  <h2 class="type--h5 color-green-darkest gap-top-400">How to report a bug</h2>
  <div class="display-flex align-start justify-content-between">
    <ol class="gap-top-200 gap-bottom-0 pad-left-0">
      <li>Verify the bug</li>
      <li>Search the bug base</li>
      <li>Create a test case</li>
      <li>Report the bug</li>
    </ol>
    {% include 'icons/question.svg' %}
  </div>
  <div class="display-flex gap-top-300 md:gap-top-400">
    <a class="button button-round button-round--collapsible color-green-medium md:color-bg md:bg-green-medium" href="https://web.dev/how-to-file-a-good-bug/">
      <span>
        Learn more <span class="visually-hidden">about reporting bugs.</span>
      </span>
    </a>
    <a class="button button-round button-round--collapsible color-green-medium gap-left-300" href="https://crbug.com">
      Report a bug
    </a>
  </div>
</div>