<nav class="sidebar" aria-label="Primary">
  <ul class="sidebar__links flow flow-space-400">
    {% for item in sidebar %}
    <li>
      <a class="sidebar__link display-flex direction-column align-center" href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
        <div class="sidebar__icon" data-icon-type="{{ item.text | lower }}"></div>
        <div>{{ item.text }}</div>
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>