<nav class="nav" aria-label="Primary">
  <ul class="nav__list">
    {% for item in navigation.items %}
    <li>
      <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
        >{{ item.text }}</a
      >
    </li>
    {% endfor %}
  </ul>
</nav>