{#
  This is used as the TOC on smaller screens (<= 992) that makes use of the white space
  under the navigation tree when the user scrolls down, in response to:
  https://github.com/GoogleChrome/developer.chrome.com/issues/3097
#}
<div class="toc-container toc-container-under-navigation-tree display-none md:display-block xl:display-none pad-right-400 {% if not tocContents %}visibility-hidden{% endif %}">
  <toc-active class="scrollbar">
    <div class="type--h6 color-secondary-text">{{ 'i18n.common.toc' | i18n(locale) }}</div>
    <div class="toc__wrapper">{{ tocContents | safe }}</div>
  </toc-active>
</div>
