<div class="toc display-none xl:display-block pad-left-400 pad-right-400">
  <strong>Contents:</strong>
  <ul class="toc__list">
    <li>
      Lorem ipsum dolor sit
    </li>
    <li>
      Amet consectetur adipisicing elit
      <ul>
        <li>
          Lorem ipsum dolor sit
          <ul>
            <li>Lorem ipsum dolor sit</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      Incidunt aliquid nulla voluptate ipsam
    </li>
    <li>
      Quas laborum cupiditate doloribus quis voluptates!
    </li>
    <li>
      Eaque, velit eius asperiores
    </li>
  </ul>
</div>