<top-nav role="banner" class="display-block hairline-bottom" data-side-nav-inert>
  <nav class="display-grid align-center" aria-label="{{ 'i18n.common.chrome_developers' | i18n(locale) }}">
    {# Hamburger button #}
    <button class="top-nav__hamburger button display-flex lg:display-none align-center justify-center width-700 height-700" aria-label="{{ 'i18n.common.menu' | i18n(locale) }}">
      {% include 'icons/hamburger.svg' %}
    </button>

    {# Logo #}
    <a class="top-nav__logo display-flex align-center" href="/" aria-label="developers.chrome.com">
      {% include 'icons/logo.svg' %}
      <div class="type--large font-google-sans">{{ 'i18n.common.chrome_developers' | i18n(locale) }}</div>
    </a>

    {# Search #}
    <search-box class="display-grid align-center">
      <button class="search-box__btn button display-flex lg:display-none align-center justify-center width-700 height-700" aria-label="{{ 'i18n.common.open_search' | i18n(locale) }}">
        {% include 'icons/search.svg' %}
      </button>

      <input type="search" class="search-box__input display-none lg:display-block lg:width-full" aria-label="search" placeholder="{{ 'i18n.common.search_placeholder' | i18n(locale) }}">
      {% include 'icons/search.svg' %}
    </search-box>
  </nav>
</top-nav>