<div class="dates">
  <p class="type--caption">
    {% if updated %}
      Last updated: <time>{{ helpers.formatDateLong(updated, locale) }}</time>
    {% elif date %}
      Last updated: <time>{{ helpers.formatDateLong(date, locale) }}</time>
      <span>•</span>
    {% endif %}
    <a href="{{ page.inputPath | githubLink }}">
      Improve article
    </a>
  </p>
</div>
