<p class="color-secondary-text type--caption">
  {% if updated %}
    {{ 'i18n.common.last_updated' | i18n(locale) }} <time>{{ helpers.formatDateLong(updated, locale) }}</time>
  {% elif date %}
    {{ 'i18n.common.last_updated' | i18n(locale) }} <time>{{ helpers.formatDateLong(date, locale) }}</time>
    <span>•</span>
  {% endif %}
  <a href="{{ page.inputPath | githubLink }}">
    {{ 'i18n.common.improve_article' | i18n(locale) }}
  </a>
</p>
