---
layout: 'layouts/events.njk'
title: 'Meet the chrome team'
---

{% from 'macros/icon.njk' import icon with context %}

{% include 'partials/events-hero.njk' %}
{% include 'partials/events-list.njk' %}
