/* stylelint-disable */

$CHROME_BLUE: #3982F7;
$CHROME_GREEN: #4DA949;
$CHROME_RED: #EA3323;
$CHROME_YELLOW: #F5B840;

$BG_PRIMARY: #F6F9FF;

$TEXT_PRIMARY_FONT_FAMILY: '"Google Sans", sans-serif';
$TEXT_PRIMARY: #000;
$TEXT_PRIMARY_PALEBLUE: #3A3A3A;
$TEXT_SECONDARY: #5F6368;
$TEXT_LINK: #3982F7;
$TEXT_BOLD_WEIGHT: 600;
$TEXT_WEIGHT: 500;
$TEXT_LETTER_SPACING: -0.03125rem;

$H1_FONT_SIZE: 2.5rem;
$H2_FONT_SIZE: 2rem;
$H3_FONT_SIZE: 2rem;

$BUTTON_BG: transparent;
$BUTTON_BORDER: 2px solid #{$TEXT_LINK};
$BUTTON_FONT_SIZE: 1rem;

$CARD_BORDER_RADIUS: 1.5rem;
$CARD_GAP: 1.5rem;
$CARD_BORDER: 2px solid #EEF4FF;

[theme=web-theme] {
  --devsite-background-color: #{$BG_PRIMARY};
  --devsite-button-background: #{$BUTTON_BG};
  --devsite-button-background-hover: #{$BUTTON_BG};
  --devsite-button-border: #{$BUTTON_BORDER};
  --devsite-button-border-hover: #{$BUTTON_BORDER};
  --devsite-button-border-radius: 2.75rem;
  --devsite-button-color: #{$TEXT_LINK};
  --devsite-button-font: #{$BUTTON_FONT_SIZE};
  --devsite-button-primary-background: #{$CHROME_BLUE};
  --devsite-button-text-transform: none;
  --devsite-card-background: #{$BG_PRIMARY};
  --devsite-card-border: none;
  --devsite-card-border-radius: #{$CARD_BORDER_RADIUS};
  --devsite-h1-font: #{$TEXT_BOLD_WEIGHT} #{$H1_FONT_SIZE} #{$TEXT_PRIMARY_FONT_FAMILY};
  --devsite-h1-letter-spacing: #{$TEXT_LETTER_SPACING};
  --devsite-h2-font: #{$TEXT_BOLD_WEIGHT} #{$H2_FONT_SIZE} #{$TEXT_PRIMARY_FONT_FAMILY};
  --devsite-h2-margin: 0 0 1.875rem 0;
  --devsite-h3-font: #{$TEXT_BOLD_WEIGHT} #{$H3_FONT_SIZE} #{$TEXT_PRIMARY_FONT_FAMILY};
  --devsite-heading-color: #{$TEXT_PRIMARY};
  --devsite-item-gap: #{$CARD_GAP};
  --devsite-landing-row-group-margin: 0;
  --devsite-landing-row-header-text-margin: 0 auto;
  --devsite-landing-row-header-text-max-width: 57.8125rem;
  --devsite-primary-font-family: #{$TEXT_PRIMARY_FONT_FAMILY};
  --devsite-primary-text-color: #{$TEXT_PRIMARY};
  --devsite-text-color: #{$TEXT_PRIMARY};
  --link-color: #{$TEXT_PRIMARY};
  --link-visited-color: #{$TEXT_PRIMARY};
  --link-rgb-background: #{$BUTTON_BG};


  .button{
    cursor: pointer;
    font-weight: #{$TEXT_WEIGHT};
    height: auto;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    margin-left: 0;
    padding: 1rem 2.5rem;
  }


  .material-icons {
      border-radius: 100%;
      color: #fff;
      display: inline;
  }

  .devsite-landing-row-header-icon {
    font-size: 32px;
    background-color: $CHROME_BLUE;
    padding: 8px;
    display: inline-block;
  }

  .devsite-landing-row-100 .devsite-landing-row-item{

    h3 {
      font-size: 4rem;

      em {
        color: #{$TEXT_LINK};
        font-style: normal;
      }
    }

    &-description {
      margin-bottom: 0;
      padding: 1rem 0 0;
      text-align: center;
        
      &-content {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
      }
    }

    &-buttons {
      display: block;
      z-index: 1;

      .button {
        background-color: #{$TEXT_LINK};
        color: #fff;
        padding: 12px 24px;
        margin-top: 0.5rem;
      }
    }

    &-media {
      margin: -1rem auto 2rem;
      width: 100%;
    }

    @media (max-width: 991px) {
        
        h3 {
          font-size: 3.125rem;
        }

        &-media {
          margin: 0;
        }
    }

    @media (max-width: 591px) {
      display: flex;
      flex-direction: column-reverse;

      &-description{
        margin-top: 0;
        padding-top: 0;
        font-size: 28px;
        
        em{
          display:block;
        }
      }

      .button{
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }

  }

  .devsite-landing-row-cards {
    .devsite-landing-row-item-body {
      display: block;
    }
  }

  .devsite-landing-row-item {
    gap: 0;
    padding: 33px;

    &-image{
      background-color: inherit;
    }

    &-buttons {
      .button {
        font-weight: #{$TEXT_BOLD_WEIGHT};
        height: auto;
        line-height: 1.3125rem;
        margin: 1rem 0 0 0;
        padding: 0.8125rem 2.5rem;
      }

      .button-white {
        font-weight: #{$TEXT_WEIGHT};
        padding: 0;
      }
    }

    &-description {
      padding: 0;
    }

    &-description-content {
      line-height: 1.3125rem;
    }

    &-labels {
      span {
        font-size: 0.875rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        line-height: 1.719rem;
        margin-bottom: 1rem;
      }
    }
  }

  .dcc-services-card{
    padding: 54px;
    
    h3 {
      font-size: 2.25rem;
      font-weight: #{$TEXT_WEIGHT};
      letter-spacing: -0.5px;
      line-height: 2.75rem;
      max-width: 90%;
      margin: 1.6875rem auto auto;
      min-height: 8.375rem;
      text-align: center;
    }

    .devsite-landing-row-item-image{
      max-width: 11rem;
      margin: 0 auto;
    }

    .devsite-landing-row-item-buttons {
      align-items: start;
      display: flex;
      flex:1; 
      flex-direction: column;
      margin-top: 0;

      .button {
        font-weight: #{$TEXT_WEIGHT};
        padding: 0 2.5rem;
        display: flex;
        align-items: center;
      }
    }

    .button::before{
      font-family: 'Material Icons Outlined';
      padding-right: 0.5rem;
      vertical-align: middle;
      font-size: 1.3rem;
      margin-top: -0.325rem;
    }

    .dcc-web-app-features-link::before{
      content: "widgets";
    }
    .dcc-web-on-android-link::before{
      content: "android";
    }

    .dcc-chrome-extensions-link::before{
      content: "extension";
    }

    .dcc-cwv-link::before{
      content: "display_settings";
    }

    .dcc-design-link::before{
      content: "toggle_on";
    }

    .dcc-privacy-link::before{
      content: "lock";
    }

    .dcc-identity-link::before{
      content: "badge";
    }

    .dcc-dev-tools-link::before{
      content: "build";
    }

    .dcc-performance-link::before{
      content: "construction";
    }

    .dcc-puppeteer-link::before{
      content: "data_object";
    }

    .dcc-chrome-testing-link::before{
      content: "science";
    }
    
    .dcc-baseline-link::before{
      content: "link";
    }

    .dcc-aurora-link::before{
      content: "offline_bolt";
    }

    .dcc-web-dev-link::before{
      //content: "terminal";
       content: "link";
    }
  }

  .dcc-docs-card {
    border: #{$CARD_BORDER};
    border-radius: 1.5rem;
    padding: 4.125rem 2.125rem 2.125rem 2.125rem;
    max-width: 24.75rem;

    h3{
      font-weight: #{$TEXT_WEIGHT};
      margin: 1.5rem 0;
    }

    img {
      border-radius: 1.5rem;
    }

    .material-icons {
      font-size: 4rem;
      line-height: 2rem; 
      margin-top: 2rem;
      padding: 1.5rem;
    }

    &:nth-child(1) .material-icons{
      background-color: #{$CHROME_BLUE};
    }

    &:nth-child(2) .material-icons{
      background-color: #{$CHROME_GREEN};
    }

    &:nth-child(3) .material-icons{
      background-color: #{$CHROME_RED};
    }

    &:nth-child(4) .material-icons{
      background-color: #{$CHROME_YELLOW};
    }

    .devsite-landing-row-item {
      

      &-description-content {
        line-height: 1.7rem;
      }

      &-buttons .button {
        margin-top: 1.5rem;
      }

      @media (max-width: 591px) {
        max-width: 100%;
      }
    }
  }

  .dcc-social-card {
    h3 {
      font-size: 2rem;
      font-weight: #{$TEXT_WEIGHT};
      text-align: left;
    }
    
    .devsite-landing-row-item-description-content {
      color: #{$TEXT_SECONDARY};
      min-height: 50px;
    }

    .button {
      margin-top: 0.125rem;
      padding: 0;
    }

    .material-icons {
      font-size: 2rem;
      padding: 0.5rem;
    }

    &:nth-child(1) .material-icons{
      background-color: #2095F2;
    }

    &:nth-child(2) .material-icons{
      background-color: #FB0301;
    }
  }

  .devsite-landing-row-2-up[header-position=top]:not([background=pale-blue]){

    @media (max-width: 991px) {
      .devsite-landing-row-group{
        display:block;
      }

      .dcc-blog-card{
        margin-bottom: 1rem;
      }
    }
  }

  .devsite-landing-row[header-position=left] {
    padding: 3.125rem 0 !important;
    position: relative;

    .dcc-blog-card {
      max-width: 24.75rem;
      padding: 0;

      h3{
        font-weight: #{$TEXT_WEIGHT};
      }

      img {
        border-radius: 1.5rem;
      }

      &-buttons .button {
        margin-top: 1.875rem;
      }

      @media (max-width: 591px) {
        max-width: 100%;
      }
    }

    .devsite-landing-row {
      &-group {
        grid-gap: 3rem 1.5rem;
      }

      &-header-text {
        margin-left: 0;
        max-width: 17.5625rem;
        
        h2 {
          font-size: 2.5rem;
          font-weight: #{$TEXT_BOLD_WEIGHT};
          line-height: 2.9688rem;
        }
      }
    }

    @media (max-width: 991px) {
      .devsite-landing-row-inner > *{
        grid-column: 1 / span 3
      }

      .devsite-landing-row-header{
        margin: 0 1.5rem;
      }
      
      .devsite-landing-row-header-text{
        max-width: 100%;
      }
      
      .dcc-blog-card{
        padding: 0;
      }
    }
  }


  .devsite-landing-row-3-up {

    .devsite-landing-row-inner {
      background-color: #{$BG_PRIMARY};
      border-radius: #{$CARD_BORDER_RADIUS};
      max-width: 90rem;
      padding: 0;
    }

    .devsite-landing-row-item{
      padding: 2.125rem;
    }

    @media (max-width: 991px) {
      padding: 0 1.5rem;

      .devsite-landing-row-item:first-child{
        grid-column: 1 / span 3;
      }

      .devsite-landing-row-item:last-child{
        grid-column: 2 / span 2;
      }
    }

    @media (max-width: 591px) {

      .devsite-landing-row-item {
        grid-column: 1 / span 3;
      }
    }
  }

 
   .devsite-landing-row-4-up[header-position=left]{
    position: relative;

    &::before {  
      background: linear-gradient(92deg, #FB0301 0%, #FB0301 10.94%, #FBBB06 19.79%, #FBBB06 37.50%, #34A653 60.42%, #34A653 76.56%, #206ACE 100%);
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }


  [background=pale-blue] {
    --devsite-background-color: #{$BG_PRIMARY};
    --devsite-button-border: none;
    --devsite-button-border-hover: none;
    --devsite-card-background: white;
    --devsite-landing-row-group-margin: 0;
    --devsite-landing-row-header-text-margin: 0 auto;
    --devsite-h1-font: 500 3rem #{$TEXT_PRIMARY_FONT_FAMILY};
    --devsite-heading-color: #{$TEXT_PRIMARY_PALEBLUE};

    margin: 2.75rem 0;

    .devsite-landing-row-header-text {
      font-size: 3rem;
      line-height: 3.5rem;
      margin-bottom: 3.75rem;
      max-width: 57.8125rem;
      text-align: center;
    }

    &.devsite-landing-row-2-up {
      margin-bottom: -4.5rem;

      .devsite-landing-row-group {
        grid-gap: 3.125rem;
      }

      .devsite-landing-row-header-text {
        margin-bottom: 2.875rem;
        max-width: 100%;
        text-align: left;
      }
    }

     @media (max-width: 991px) {
        .devsite-landing-row-group{
          grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 591px) {

        .devsite-landing-row-header-text {
            font-size:28px;
        }

        .devsite-landing-row-group{
          grid-template-columns: 1fr;
        }
    }
  }
}


.ddc-hamburger.button{
  display:none;
  color: #525458;
  border: none;
  padding: 0;

   @media (max-width: 991px) {
    display:block;
  }
}

.dcc-top-menu{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-top: 0.5rem;

  a{
    color: #{$TEXT_SECONDARY};
    font-family: 'Google Sans';
    font-size: 0.875rem;
    font-weight: #{$TEXT_WEIGHT};
    line-height: 1.25rem;
    letter-spacing: 0.25px;
  }

  @media (max-width: 991px) {
    display:none
  }
}

search-box{
  min-width:20rem;

  .search-box__btn{
    color: #{$TEXT_SECONDARY};

    &:hover{
      border:none;
      color: #{$TEXT_SECONDARY};
    }

    &:active{
      background-color:transparent;
      box-shadow:none;
      border:none;
    }
  }

  input[type=text]{
    background-color: #F1F3F4;
    color: #{$TEXT_SECONDARY};
    font-size: 1rem;
    font-weight:400;
    padding-left:3rem;
  }

  @media (max-width: 991px) {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}
}

/* stylelint-enable */