// Globals
@import '../global';

//blocks
@import '../blocks/event-card';
@import '../blocks/events-hero';
@import '../blocks/events-list';
@import '../blocks/checkbox-group';
@import '../blocks/filter-sheet';
@import '../blocks/enhanced-select';
@import '../blocks/tag-pill';
@import '../blocks/tag-pill-list';
@import '../blocks/tabs';

// Utilities
@import '../utilities/center-margin';
@import '../utilities/center-images';
@import '../utilities/floats';
@import '../utilities/elevation';
@import '../utilities/hairline';
@import '../utilities/colors';
@import '../utilities/scrollbars';
@import '../utilities/surface';
@import '../utilities/visually-hidden';
@import '../utilities/wrapper';

.events-container {
  max-width: calc(1290px + 3rem);

  &__filters {
    display: none;

    @include media-query('lg') {
      display: flex;
    }

    > span {
      color: var(--color-grey-medium);
      font-size: 1rem;
      letter-spacing: 1.5px;
      line-height: 1rem;
      margin-right: 0.75rem;
    }

    select {
      display: none;
    }

    .enhanced-select__wrapper {
      border: 0;
    }
  }

  &__filters label {
    color: var(--color-blue-medium);

    path {
      fill: var(--color-blue-medium);
    }
  }

  dialog {
    border: 0;
    border-radius: 4px;
    height: auto;
    margin: get-size(1000) 0 0 auto;
    max-height: 80vh;
    overflow-y: scroll;

    &::backdrop {
      background: var(--color-inverse);
      opacity: 0.48;
    }
  }
}
