// Global styles start
:root {
  --flow-space: #{get-size(500)};
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background 500ms ease-in-out, color 200ms ease;
}

a:not([class]) {
  color: var(--color-primary);

  &:active {
    color: var(--color-link-primary-active);
  }

  &:visited {
    color: var(--color-link-primary-visited);
  }
}

main:focus {
  outline: none;
}

video {
  width: 100%;
}
