// Global styles start
@import 'globals/functions';
@import 'globals/colors';
@import 'globals/vars';
@import 'globals/mixins';
@import 'globals/gorko';
@import 'globals/extends';
@import 'globals/fonts';
@import 'globals/theme';
@import 'globals/reset';
@import 'globals/typography';
@import 'globals/common-blocks';
@import 'block-groups/common';


:root {
  --flow-space: #{get-size(500)};
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  // Allow normally unbreakable words to be broken at arbitrary points if
  // there are no otherwise acceptable break points in the line.
  // Soft wrap opportunities introduced by the word break are NOT considered
  // when calculating min-content intrinsic sizes.
  overflow-wrap: break-word;
  transition: background 500ms ease-in-out, color 200ms ease;
}

a:not([class]) {
  @extend %link;
}

main:focus {
  outline: none;
}

video {
  width: 100%;
}
