body {
  line-height: 1.5;
  /* stylelint-disable-next-line order/order */
  @include apply-utility('font', 'base');
}

h1,
h2,
h3,
h4 {
  @include apply-utility('font', 'google-sans');
  @include apply-utility('weight', 'normal');
  @include apply-utility('leading', 'flat');
}

h1 {
  font-size: get-size('700');
}

h2 {
  font-size: get-size('600');
}

h3 {
  font-size: get-size('500');
}

h4 {
  font-size: get-size('400');
}

@include media-query('md') {
  h1 {
    font-size: get-size('900');
  }

  h2 {
    font-size: get-size('800');
  }

  h3 {
    font-size: get-size('700');
  }

  h4 {
    font-size: get-size('600');
  }
}
