---
layout: 'layouts/landing.njk'
title: 'Capabilities'
description: 'Enabling the most amazing apps on the web.'
sections:
  intro:
    - url: https://fugu-tracker.web.app
      title: Fugu API Tracker
      description: Get an overview of all the APIs we work on in the context of Project Fugu. Learn about the status of each proposal and where it is in the process.
    - url: /blog/fugu-showcase/
    - url: /blog/fugu-status/
  hardware:
    - url: https://web.dev/hid/
      title: Connecting to uncommon HID devices
      description: The WebHID API allows websites to access alternative auxiliary keyboards and exotic gamepads.
    - url: https://web.dev/bluetooth/
      title: Communicating with Bluetooth devices over JavaScript
      description: The Web Bluetooth API allows websites to communicate with Bluetooth devices.
    - url: https://web.dev/serial/
      title: Read from and write to a serial port
      description: The Web Serial API allows websites to communicate with serial devices.
    - url: https://web.dev/usb/
      title: Access USB Devices on the Web
      description: The WebUSB API makes USB safer and easier to use by bringing it to the Web.
    - url: https://web.dev/gamepad/
      title: Play the Chrome dino game with your gamepad
      description: Learn how to use the Gamepad API to push your web games to the next level.
  media:
    - url: https://web.dev/tags/media/
      title: Media APIs on web.dev
      description: Our latest news, updates, and stories about Media.
    - url: /tags/media/
      title: Media APIs on developer.chrome.com
      description: Our latest news, updates, and stories about Media.
  videos:
    - url: https://www.youtube.com/watch?v=1vGVrC03_jo
      title: How leading developers build innovative web experiences
      description: Discover how leading developers including Kapwing, Zoom, YouTube, and Adobe have built innovative user experiences with the latest web capabilities.
    - url: https://www.youtube.com/watch?v=CF5zZZy0R9U
      title: "Bringing Adobe's Creative Cloud to the web: Starting with Photoshop"
      description: Creative Cloud is a collection of 20+ apps for photography, video, design, web, UX, social media, and more. Learn about some of the steps the Adobe and the Chrome teams took in order to bring Adobe's Creative Cloud to the Web, starting with Photoshop and Illustrator.
    - url: https://www.youtube.com/watch?v=kcvfyQh6J-0
      title: "SVGcode: A PWA to convert raster images to SVG vector graphics"
      description: SVGcode is a Progressive Web App that lets you convert raster images like JPG, PNG, GIF, WebP, AVIF, etc. to vector graphics in SVG format. It uses the File System Access API, the Async Clipboard API, and the File Handling API, and also makes use of Window Controls Overlay customization.
---

{% from 'macros/cards/hero-card-wide.njk' import heroCardWide with context %}
{% from 'macros/cards/blog-card.njk' import blogCard with context %}
{% from 'macros/icon.njk' import icon with context %}
{% from 'macros/landing-section.njk' import landingSection with context %}
{% from 'macros/landing-deco.njk' import landingDeco with context %}
{% from 'macros/landing-section-expanded.njk' import landingSectionExpanded with context %}
{% from 'macros/landing-section-usecases.njk' import landingSectionUseCases with context %}

{{ heroCardWide(
  'Capabilities',
  "Enabling the most amazing apps on the web.",
  "All capabilities",
  "/tags/capabilities/",
  "",
  "",
  "red",
  "image/8WbTDNrhLsU0El80frMBGE4eMCD3/lauDAddiUZqlgicYTyYV.svg"
  )
}}

{{ landingSection(
  'About capabilities, aka. Project Fugu',
  'Learn about the cross-company effort around enabling the most amazing apps on the web.',
  sections.intro,
  'blue',
  'top-3',
  true,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/2xzRN81jadQ55f1WFkWH.svg',
  'Waving hand icon',
  333,
  165,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/kdPhkPXy7R0mmcJaKyoi.svg'
  )
}}

{{ landingSection(
  'Hardware APIs',
  'Learn about the hardware APIs we work on in the context of Project Fugu.',
  sections.hardware,
  'yellow',
  'left',
  true,
  'image/8WbTDNrhLsU0El80frMBGE4eMCD3/cqI5jaJQwsvjeDXsNDJ8.svg',
  'Conection icon',
  150,
  150,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/kdPhkPXy7R0mmcJaKyoi.svg'
  )
}}

{{ landingSection(
  'Fugu talk videos',
  'Watch some talks about Project Fugu APIs to get a better understanding of the kind of apps we want to enable.',
  sections.videos,
  'green',
  'right',
  true,
  'image/8WbTDNrhLsU0El80frMBGE4eMCD3/j5ZqHuEoD6OlA5gRK3IF.svg',
  'Video icon',
  150,
  150,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/kdPhkPXy7R0mmcJaKyoi.svg'
  )
}}
