@import '../globals/functions';
@import '../globals/colors';
@import '../globals/vars';
@import '../globals/mixins';
@import '../globals/gorko';
@import '../globals/extends';

.form-fieldset {
  border: 1px solid var(--color-hairline);
  border-radius: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.form-label {
  @extend %type--headline;
  @include apply-utility('weight', 'medium');
  @include flex-font((14px 24px), (16px 28px), (16px 28px));
}

.form-help-text {
  display: block;
  @extend %type--base;
  @include font-setup(14px, 24px);
  color: var(--color-secondary-text); 
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.form-input-text {
  width: 100%;
  background: var(--color-bg-shade);
  border: 0;
  border-radius: 0.25rem;
  margin: 0;
  padding: 0.5rem 1rem;
  font: inherit;
}

.form-input-select {
  width: 100%;
  background-color: var(--color-bg-shade);
  border: 0;
  border-radius: 0.25rem;
  margin: 0;
  padding: 0.5rem 1rem;
  font: inherit;
}