---
layout: 'layouts/namespace-landing.njk'
permalink: /en/docs/extensions/reference/{{ namespace.shortName }}/index.html
title: Reference
eleventyComputed:
  title: "{{ namespace.name or title }}"
  description: "{{ namespace.comment or description }}"
  date: "{{ namespace.updated or '' }}"
pagination:
  data: collections.types
  size: 1
  alias: namespace
---