---
layout: 'layouts/landing.njk'
title: 'The Privacy Sandbox'
description: 'A series of proposals to satisfy cross-site use cases without third-party cookies or other tracking mechanisms.'
sections:
  intro:
    - url: /docs/privacy-sandbox/overview
      title: What is the Privacy Sandbox?
      description: What's in it, how to get involved, and what it's for.
    - url: /docs/privacy-sandbox/glossary
      title: Glossary
      description: Short explanations of key concepts.
    - url: /docs/privacy-sandbox/proposal-lifecycle
      title: Life of a proposal
      description: How we collaborate with stakeholders to discuss, test, and adopt privacy-preserving technologies.
    - url: /docs/privacy-sandbox/status
  intro_related:
    - url: /docs/privacy-sandbox/unified-origin-trial
      title: Privacy Sandbox unified origin trial
    - url: /docs/privacy-sandbox/faq
      title: Frequently Asked Questions
    - url: /docs/privacy-sandbox/feedback
      title: Share and review feedback
  prevent_covert_tracking_useragent:
    - url: /docs/privacy-sandbox/user-agent
    - url: /docs/privacy-sandbox/user-agent/snippets
  prevent_covert_tracking:
    - url: /docs/privacy-sandbox/ip-protection
    - url: /docs/privacy-sandbox/privacy-budget
    - url: /docs/privacy-sandbox/bounce-tracking-mitigations	
  show_relevant_content_topics:
    - url: /docs/privacy-sandbox/topics
    - url: /docs/privacy-sandbox/topics-experiment
    - url: /docs/privacy-sandbox/topics/latest/
  show_relevant_content_fledge:
    - url: /docs/privacy-sandbox/fledge
      title: Overview
      description:  A proposal for on-device auctions to serve custom audiences. Choose relevant ads from websites the user has previously visited without third-party tracking.
    - url: /docs/privacy-sandbox/fledge-best-practices
      title: Best practices
      description: Improve FLEDGE auction latency with these best practices.
    - url: /docs/privacy-sandbox/fledge-experiment
      title: Experiment and participate
      description: Quick guide to implement and test the API. Play with demo code and share your feedback.  
  measure_ads:
    - url: /docs/privacy-sandbox/attribution-reporting
      title: Attribution Reporting
      description: A proposal to measure ad conversions without cross-site third-party tracking.
    - url: /docs/privacy-sandbox/attribution-reporting/system-overview
      title: System overview
      description: Understand how each service connects end-to-end for Attribution Reporting.
    - url: /docs/privacy-sandbox/attribution-reporting-experiment
      title: Experiment and participate
      description: A step-by-step guide to implement and test the API. Play with demo code and share your feedback.
    - url: /docs/privacy-sandbox/attribution-reporting-updates
      title: API updates
      description: A quick reference to how the proposal has changed to address community feedback.
  related_measurement:
    - url: /docs/privacy-sandbox/summary-reports
      title: Summary reports overview
    - url: /docs/privacy-sandbox/aggregation-service
      title: Aggregation service
    - url: /docs/privacy-sandbox/attribution-reporting-data-clearing
      title: Impact of user-initiated data clearing
    - url: /docs/privacy-sandbox/attribution-reporting-debugging/
      title: Debug Attribution Reporting
  strengthen_privacy_boundaries:
    - url: /docs/privacy-sandbox/chips
    - url: /docs/privacy-sandbox/permissions-policy
    - url: /docs/privacy-sandbox/fedcm
    - url: /docs/privacy-sandbox/first-party-sets
    - url: /docs/privacy-sandbox/fenced-frame
    - url: /docs/privacy-sandbox/storage-partitioning
  storage_cross_site:
    - url: /docs/privacy-sandbox/storage-partitioning
    - url: /docs/privacy-sandbox/shared-storage
    - url: /docs/privacy-sandbox/private-aggregation
      title: Private Aggregation API
      description: Measure Shared Storage data and generate a noisy summary report.
  related_storage_usecases:
    - url: /docs/privacy-sandbox/shared-storage/creative-selection-by-frequency
    - url: /docs/privacy-sandbox/shared-storage/creative-rotation
    - url: /docs/privacy-sandbox/shared-storage/known-customer
    - url: /docs/privacy-sandbox/shared-storage/ab-testing
    - url: /docs/privacy-sandbox/shared-storage/k-freq-reach
    - url: /docs/privacy-sandbox/shared-storage/unique-reach
  fight_spam:
    - url: /docs/privacy-sandbox/trust-tokens
---

{% from 'macros/cards/hero-card-wide.njk' import heroCardWide with context %}
{% from 'macros/cards/blog-card.njk' import blogCard with context %}
{% from 'macros/icon.njk' import icon with context %}
{% from 'macros/landing-section.njk' import landingSection with context %}
{% from 'macros/landing-deco.njk' import landingDeco with context %}
{% from 'macros/landing-section-expanded.njk' import landingSectionExpanded with context %}
{% from 'macros/landing-section-usecases.njk' import landingSectionUseCases with context %}

{# landing-page-expanded has unique styles, added for Privacy Sandbox and expanded landing section. #}

{{ heroCardWide(
  "The Privacy Sandbox",
  "A series of proposals to satisfy cross-site use cases without third-party cookies or other tracking mechanisms.",
  "Read the documentation",
  "/docs/privacy-sandbox",
  "",
  "",
  "",
  "image/VbsHyyQopiec0718rMq2kTE1hke2/i1wLexi7cwRpdfIkBYAX.svg"
  ) }}

{{ landingSectionExpanded(
  "Introduction",
  "",
  sections.intro,
  "blue",
  "top-4",
  true,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/QDyL1Otpv6Id7sDTconF.svg",
  "Graduation cap icon.",
  200,
  129,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/QDyL1Otpv6Id7sDTconF.svg",
  "More documentation",
  sections.intro_related
  )
}}

{{ landingSectionUseCases(
  "Prevent covert tracking",
  "Proposals to prevent third-parties from fingerprinting or collecting unlimited sensitive data.",
  "User-Agent reduction",
  sections.prevent_covert_tracking_useragent,
  "",
  "",
  sections.prevent_covert_tracking,
  "green",
  "right",
  true,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/yrsJmUfAnqDIDxjVYhXq.svg",
  "Click icon.",
  429,
  278,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/yrsJmUfAnqDIDxjVYhXq.svg"
  )
}}

{{ landingSectionUseCases(
  "Show relevant content",
  "Proposals to encourage an engaging web with free access to information.",
  "Topics",
  sections.show_relevant_content_topics,
  "FLEDGE",
  sections.show_relevant_content_fledge,
  sections.show_relevant_content,
  "blue",
  "right",
  true,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/pfYmfQtnte4ZKFE7r9nE.svg",
  "People icon.",
  284,
  193,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/pfYmfQtnte4ZKFE7r9nE.svg"
  )
}}

{{ landingSectionExpanded(
  "Measure digital ads",
  "Proposals to collect accurate and useful measurement of digital ads, so you can get messages to the right people at the right time.",
  sections.measure_ads,
  "green",
  "top-4",
  true,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/cT27jgN3G7aYl9ftM0lt.svg",
  "Analytics icon.",
  250,
  124,
  "image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/kdPhkPXy7R0mmcJaKyoi.svg",
  "More documentation",
  sections.related_measurement
  )
}}

{{ landingSection(
  "Strengthen privacy boundaries",
  "Proposals to create and strengthen cross-site privacy. This means information collected on one site is not automatically shared with another site, unless the user explicitly consents.",
  sections.strengthen_privacy_boundaries,
  "yellow",
  "top-3",
  false,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/tCE6xv0QdnKWNSEJQUbA.svg",
  "Fence icon.",
  250,
  124,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/tCE6xv0QdnKWNSEJQUbA.svg"
  )
}}

{{ landingSectionExpanded(
  "Secure cross-site storage",
  "Prevent fraud, run A/B testing, rotate creatives, and support other use cases, while protecting user privacy.",
  sections.storage_cross_site,
  "green",
  "top-3",
  true,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/g0sHuyvPENgBaLhY6uJA.svg",
  "Analytics icon.",
  250,
  124,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/g0sHuyvPENgBaLhY6uJA.svg",
  "Explore use cases",
  sections.related_storage_usecases
  )
}}

{{ landingSection(
  "Fight spam and fraud",
  "Proposals to separate invalid clicks and impressions from legitimate ones.",
  sections.fight_spam,
  "yellow",
  "top-3",
  false,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/YSCPsUMCff5dlVbBCf7b.svg",
  "Shield.",
  250,
  124,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/YSCPsUMCff5dlVbBCf7b.svg"
  )
}}
