%visually-hidden,
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Temporary class until web.dev gets rid of w- prefix.
.w-visually-hidden {
  @extend %visually-hidden;
}
