name: Percy Snapshots

on:
  push:
    branches:
      - main
    paths:
      - '**.js'
      - 'package.json'
      - '**.njk'
      - '**.scss'
      - '**.yml'

  pull_request:
    paths:
      - '**.js'
      - 'package.json'
      - '**.njk'
      - '**.scss'
      - '**.yml'

jobs:
  percy:
    if: ${{ github.repository == 'GoogleChrome/developer.chrome.com' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1.0.0
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Cache node_modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install
        run: npm ci
      - name: Percy
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
        run: npm run percy