---
title: 'Project Fugu API Showcase'
subhead: >
  The Project Fugu API Showcase is a collection of apps that make use of APIs that were conceived in the context of Project Fugu.
description: >
  The Project Fugu API Showcase is a collection of apps that make use of APIs that were conceived in the context of Project Fugu.
hero: image/SZHNhsfjU9RbCestTGZU6N7JEWs1/qLEjuD3WSdADRSY0sFUc.png
alt: Blowfish swarm swimming in the ocean.
---

{% extends "layouts/base.njk" %}
{% from 'macros/icon.njk' import icon with context %}
{% from 'macros/cards/hero-card.njk' import heroCard with context %}

{% block content %}
  <div class="fugu-showcase">
  <div class="width-full pad-400 fugu-showcase__hero">
    {% if hero %}
      {{ heroCard(
        "Project Fugu API Showcase",
        "The Project Fugu API Showcase is a collection of apps that make use of APIs that were conceived in the context of Project Fugu.",
        "",
        "",
        hero,
        "Project Fugu API Showcase",
        "cyan"
      ) }}
    {% endif %}
  </div>

  <div class="display-flex justify-content-center width-full">
    <div class="width-full fugu-container pad-left-400 pad-right-400">
      <form class="search-apps-apis lg:pad-top-300 pad-top-200">
        <div class="md:display-flex align-items-center">
          <p class="search-app-container">
            {{ icon('search', {hidden: false}) }}
            <input class="search-apps search-box__input" list="available-apps" placeholder="Search apps and APIs" aria-label="Search apps and APIs" />
          </p>
          <p class="search-api-container">
            <label class="label" for="example-enhanced-select">{{ 'i18n.filter_sheet.filter_by' | i18n(locale) }}</label>
            <enhanced-select class="search-apis" label="API" fixedLabel>
              <select name="example-enhanced-select">
                {% for availableAPI in availableApis %}
                  <option value="{{ availableAPI }}">{{ availableAPI }}</option>
                {% endfor %}
              </select>
            </enhanced-select>
          </p>
        </div>
      </form>

      <div class="pills-container display-flex justify-content-start pad-top-400"> 
        {% for availableAPI in availableApis %}
          <span class="tag-pill hairline" hidden>
            {{ availableAPI }}
            <button class="button" aria-label="{{ 'i18n.common.close' | i18n(locale) }}">
              {{ icon('close') }}
            </button>
          </span>
        {% endfor %}
      </div>

      <div class="project-grid fugu-container lg:pad-top-400 pad-top-200">
        {% for item in fuguItems %}
          {% set apis = "" %}
          {% set searchApis = "" %}

          {% for api in item.usedAPIs %}
            {% set apis = apis + " " + api.name | replace(" ", '-') %}
            {% set searchApis = searchApis + " " + api.name %}
          {% endfor %}

          {% set apis = apis | trim | lower | replace("(", "") | replace(")", "") %}
          <article id="{{ item.title | slug }}" data-name="{{ (item.title | lower) + " " + (searchApis | lower) + " " + (item.appURL | lower) }}" data-used-apis="{{ apis }}" class="blog-card fugu-card rounded-lg pad-300 md:pad-400 width-full">
            <div class="thumbnail">
              <a href="{{ item.appURL }}" rel="noopener" target="_blank">
                {% Img
                  src="image/SZHNhsfjU9RbCestTGZU6N7JEWs1/rihrk2y6yg8hLvmxipjz.png",
                  alt="Abstract icon",
                  width="360",
                  height="225",
                  fetchpriority="high"
                %}
              </a>
            </div>

            {% if item.isElectronApp or item.sourceURL %}
              <div class="card-intro display-inline-flex pad-top-300 pad-bottom-300">
                {% if item.isElectronApp %}
                  <a class="display-flex align-center color-primary" href="{{ item.appURL }}" rel="noopener" target="_blank">
                    {{ icon('external-link') }}
                    {{ 'i18n.common.launch_app' | i18n(locale) }}
                  </a>
                {% endif %}
                {% if item.sourceURL %}
                  <a class="display-flex align-center color-primary" href="{{ item.sourceURL }}" rel="noopener" target="_blank">
                    {{ icon('code') }}
                    {{ 'i18n.common.source_code' | i18n(locale) }}
                  </a>
                {% endif %}
              </div>
            {% endif %}

            <div class="gap-top-300">            
              <h3>
                <a class="surface display-inline-flex color-text" href="{{ item.appURL }}">
                  {{ item.title }}
                </a>
              </h3>
              <p class="type--caption gap-top-200">{{ item.description }}</p>
              <div class="cluster flow-space-200 gap-top-300">
                <div>
                  {% for api in item.usedAPIs %}
                    <a class="tag-pill surface hairline color-secondary-text" href="{{ api.url }}" rel="noopener" target="_blank">{{ api.name }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </article>
  </div>
  </div>
{% endblock %}
