---
title: 'Project Fugu API Showcase'
subhead: >
  The Project Fugu API Showcase is a collection of apps that make use of APIs that were conceived in the context of Project Fugu.
description: >
  The Project Fugu API Showcase is a collection of apps that make use of APIs that were conceived in the context of Project Fugu.
hero: image/SZHNhsfjU9RbCestTGZU6N7JEWs1/qLEjuD3WSdADRSY0sFUc.png
alt: Blowfish swarm swimming in the ocean.
---

{% extends "layouts/base.njk" %}
{% from 'macros/icon.njk' import icon with context %}
{% from 'macros/cards/hero-card.njk' import heroCard with context %}

{% block content %}
  <div class="fugu-showcase">
  <div class="width-full pad-400 fugu-showcase__hero">
    {% if hero %}
      {{ heroCard(
        "Project Fugu API Showcase",
        "The Project Fugu API Showcase is a collection of apps that make use of APIs that were conceived in the context of Project Fugu.",
        "",
        "",
        hero,
        "Project Fugu API Showcase",
        "cyan"
      ) }}
    {% endif %}
  </div>

  <div class="display-flex justify-content-center width-full">
    <div class="width-full fugu-container pad-left-400 pad-right-400">
      <form class="search-apps-apis lg:pad-top-300 pad-top-200">
        <div class="md:display-flex align-items-center">
          <p class="search-app-container">
            {{ icon('search', {hidden: false}) }}
            <input class="search-apps search-box__input" list="available-apps" placeholder="Search apps and APIs" aria-label="Search apps and APIs" />
          </p>
          <p class="search-api-container">
            <label class="label" for="example-enhanced-select">{{ 'i18n.filter_sheet.filter_by' | i18n(locale) }}</label>
            <enhanced-select class="search-apis" label="API" fixedLabel>
              <select name="example-enhanced-select">
                {% for availableAPI in availableApis %}
                  <option value="{{ availableAPI }}">{{ availableAPI }}</option>
                {% endfor %}
              </select>
            </enhanced-select>
          </p>
        </div>
      </form>

      <div class="pills-container display-flex justify-content-start pad-top-400"> 
        {% for availableAPI in availableApis %}
          <span class="tag-pill hairline" hidden>
            {{ availableAPI }}
            <button class="button" aria-label="{{ 'i18n.common.close' | i18n(locale) }}">
              {{ icon('close') }}
            </button>
          </span>
        {% endfor %}
      </div>

      <div class="project-grid fugu-showcase-container lg:pad-top-400 pad-top-200" total-items="{{ fuguItems.length }}"></div>

      <button id="load-more-showcase"
        class="load-more__button justify-content-center gap-top-600 type--small display-inline-flex"
        aria-controls="more-showcase"
      >
        {{ 'i18n.common.load_more' | i18n(locale) }}
        {{ icon('arrow-forward', {hidden: true}) }}
      </button>

      <p id="loading-error" class="color-red-medium gap-top-100 display-none">
        {{ 'i18n.events.load_more_error' | i18n(locale) }}
        <a href="https://github.com/GoogleChrome/developer.chrome.com/issues/new?labels=bug&template=bug_report.md"
          class="color-red-medium">{{ 'i18n.events.load_more_error_link' | i18n(locale) }}</a>.
      </p>
    </article>
  </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ helpers.hashForProd('/js/fugu-showcase.js') }}"></script>
{% endblock %}